[2015-06-13 22:49] distracteddev opened #1 "Trello Board of Ideas"
The following is a transcription of the topics discussed at NodeConf. This board will serve as the backlog proposed documentation improvements. The list is _not_ prioritized. As the efforts are prioritized, they will be converted into Github issues which can then be assigned to individuals and implemented.

https://trello.com/b/OK2TBRw1/node-js-documentation-brainstorm

Note: The board can be view

[2015-06-13 22:49] chrisdickinson opened #2 "Docs WG signup"
Leave your name here if you're interested in contributing to the Docs WG.

[2015-06-13 22:51] distracteddev commented on #2
Zeus (zeus@lever.co)

[2015-06-13 22:51] drewfish commented on #2
Drew Folta is interested.

[2015-06-13 23:22] Qard commented on #2
Count me in!

[2015-06-14 16:54] danielkhan commented on #2
Me too! (daniel@khan.io)

[2015-06-14 18:30] bengl commented on #2
Bryan English is in.

[2015-06-15 20:08] danielkhan commented on #1
Reviewing the Trello board and looking at actionable items for me I started to wonder if there is some kind of styleguide or a "getting started writing docs for nodejs" doc available.
I mean - if I want to start my first doc today how do I do that?

[2015-06-15 21:19] Qard commented on #1
There's not really a formal style guide for docs, as far as I'm aware. It should be fine to just approximate the style of the markdown docs in https://github.com/nodejs/io.js/tree/master/doc/api. Structural aspects will likely vary from existing content, and I suspect we'll just gradually converge on a defined style over time.

I think it's best that people just start making PRs with some content

[2015-06-15 22:05] Qard opened #3 "V8 auto docs"
I'm trying to figure out a good way to add something to our release process to auto-generate the docs for `deps/v8` and dump them somewhere online. The intent is to have a folder tree something like `/docs/internals/v8/{node_version}` where you can view V8 docs for the relevant node/io.js version.

Challenges:
- A single build is over 1GB.
- Requires doxygen is installed.
- Completion and accuracy

[2015-06-15 22:53] chrisdickinson commented on #2
Anyone looking to clear things with an employer, I've pushed a LICENSE file (MIT) to the root of the repo. If we like we can revisit this and go with creative-commons, but for now since we're planning on slurping up docs from the core repo I started us with that license.

[2015-06-15 22:59] chrisdickinson commented on #2
I've invited everyone that's responded to this thread! If I've missed you, A) I apologize! and B) respond to the issue again and I'll invite you :)

[2015-06-15 22:59] distracteddev commented on #3
Does v8 publish these to a public site already?

[2015-06-15 23:18] Qard commented on #3
No.

There are some not up-to-date versions of the docs hosted in various places around the internet, but nowhere that has versions matched to all the releases. The Node Source ones are the closest.

see:
- https://v8docs.nodesource.com
- http://izs.me/v8-docs/main.html
- https://github.com/thlorenz/v8-dox

[2015-06-15 23:31] chrisdickinson opened #4 "Documentation Values"
One of the action items from Nodeconf was to put together a set of values for both our docs and our team so that we've got a good basis for making decisions about the docs. I'm going to take a stab at writing this over the next day or two.

My goal will be to cover **strategic** values, **tactical** values, and **mechanical** values – so that any doc team member can easily use these values when de

[2015-06-15 23:33] chrisdickinson commented on #1
Hey – I'm the blocker on this for now – I'm going to try and get the style guide / values guide done as fast as I can so we have a solid ground for things. The mechanical part of the style guide will likely look a lot like the guide in the core repo, as @Qard notes, especially when it pertains to reference documentation.

The associated issue is #4.

[2015-06-16 04:10] brendanashworth commented on #3
+1! I found this really useful when digging around in the source.

I've done some with doxygen over here at my repo: http://brendanashworth.github.io/v8-docs/

Here is the patch I use: https://github.com/brendanashworth/v8-docs/commit/183baa6510a997736528f9b39dfa76a3998f62fb

[2015-06-16 04:13] chesles commented on #2
Is it too late to join? (john@chesl.es)

[2015-06-16 04:41] targos commented on #2
I am interested as well :)

[2015-06-16 17:18] distracteddev commented on #3
Sounds good to me. If we're okay with the build-server idea, I/someone else can probably put a docker container together easily. Then we can decide where to host it.

[2015-06-16 17:20] distracteddev commented on #3
Might be good to leave the tooling for later though and just for the first release do it manually and dump the folder into git

[2015-06-16 21:42] mikeal commented on #4
this was brought up in the context of a lot of the diversity work so we should probably ping the @nodejs/diversity team :)

[2015-06-16 22:05] Fishrock123 commented on #4
Yes, we may have some things to say about the strategic values.

[2015-06-16 22:17] chrisdickinson commented on #4
To set expectations, these aren't intended to be larger-level _project-wide_ values documents, but:
- Ultimately these documentation values documents should reflect those project-wide values,
- The project-wide values should be captured in documentation here.

You can see the work in progress version in PR #5.

[2015-06-16 22:37] Fishrock123 commented on #4
That is what I mean. :)

[2015-06-17 01:08] yorkie commented on #2
Yorkie(yorkiefixer@gmail.com) is interested as well, recently I was working on a fork of YUIDoc(https://github.com/fireball-x/firedoc) so that i'm very happy if i can contribute to the docs part of node, thank you :)

[2015-06-17 05:05] sam-github commented on #2
- me

[2015-06-17 22:42] bnb commented on #2
Tierney C. `bitnb``@``subvertising.org` I've been an active contributor in the past for the Website WG and Evangelism WG.

[2015-06-18 17:43] danielkhan opened #7 "Guide: Installing node"
I would like to take the plunge and write a tutorial on installing Node as I think that this simply should be the first doc we have. What do you think?

That said I think that it pretty much resembles https://nodejs.org/download/ - how should it relate to it? Will it replace it or should we link to it for the latest versions?

Are there any topics you'd like to be covered?

[2015-06-18 17:57] Qard commented on #7
Demonstrating different approaches to installing would probably be helpful. ie: installing via nvm, nave or n, installing via homebrew, installing via node source apt repos.

Walking through some basic node command-line usage would be good too. Like `node app.js` to start an app, `node` to start the repl.

[2015-06-18 17:58] bnb commented on #7
I would be willing to write a version or section on how to install Node with Windows. Is this for Node 0.12 or the-software-formerly-known-as-io.js 2.2.1?

[2015-06-18 18:22] danielkhan commented on #7
Ok - then we should maybe split this up anyways.
- Different OS (I could do OSX, and Linux, great if another person does windows as I need a VM for that)
  - different installers by system
  - command line commands to verify it is working

For the `node app.js` part and the repl part maybe a separate 'First Steps' document would be an option? This could be crosslinked with the install docs.

[2015-06-18 19:18] Qard commented on #7
Have a look at [how rust does getting started docs](https://doc.rust-lang.org/nightly/book/getting-started.html). That seems like a good starting point. Their docs are very good. :)

[2015-06-18 19:30] danielkhan commented on #7
Ok should we structure it like rusts docs? Anyone against that?

[2015-06-18 19:39] chrisdickinson commented on #7
Following rusts' example would not be a bad idea. You may also look at how Django structures theirs. I might add that it'd be good to:
1. explicitly pick an audience you're targeting (folks new to programming, folks new to node, etc) and write to that,
2. Include "did it work" steps to verify installation,
3. note that there are many ways to skin this cat, and add some stub articles for homebrew,

[2015-06-18 19:47] danielkhan commented on #7
I'll do.

[2015-06-18 21:48] bnb commented on #7
Again, I'd like to ask about the timeliness of this - should we wait until there is a solid foundation of Node, with an actual release after the merger? Right now, we're in a sort of limbo where the newest version is io.js, but Node is the namespace which we will be speaking under. If we were to direct them to Node 0.12, that'd be a bit like throwing them under the bus. I see it as having high pro

[2015-06-18 22:46] bengl commented on #7
@bnb I'm not entirely sure it matters. Installation is (hopefully (IIRC)) relatively consistent across versions. Shouldn't we be able to just point them at https://nodejs.org/download ?

**EDIT:** Put another way: Is recommending a particular version a requirement for a complete installation guide?

[2015-06-18 22:56] bnb commented on #7
@bengl I think it should be aimed at the newest version - the newest version of io.js isn't represented at all in the link you provided. The LTS WG would be the one to talk to about maintaining install instructions for previous versions. Essentially, right now it's giving people a suggestive UI for an old version of what is now called Node, whose support is up in the air at the moment - up to what

[2015-06-19 00:02] Qard commented on #7
I would say point them at latest for now. The whole point of coordinating this docs effort through github is that updates are trivial. We can revisit the install docs later when names change or "stable" is more clearly defined.

[2015-06-19 00:15] danielkhan commented on #7
There is a link to io.js - is the location it points to deprecated?

I also think that we should start to move, knowing that we are dealing with moving targets and adopt things when they become clearer. Maybe my writeup isn't usable at all but if we don't start writing and reasoning about the outcome we will have a hard time when a new, stable release is finally there. I'm quite sure that this won

[2015-06-19 00:35] bnb commented on #7
The difference I was trying to convey was that there's a table with images, interactivity, and types/versions of downloads for the current "Node" release, while the link to io.js is hidden in a paragraph. I just think that the docs should be more clear about the fact that io.js' current state is what Node will be adopting. Telling people to install something that is essentially outdated is not goo

[2015-06-19 00:51] danielkhan commented on #7
O.K. but then this page should be changed. The docs should be agnostic, I think.

[2015-06-19 00:52] bnb commented on #7
What would the structure for the docs being agnostic look like?

[2015-06-19 01:11] danielkhan commented on #7
I have to add one thing first. IMHO currently Node.js 0.12 is the current stable version. Although it might be somehow outdated compared to the current io.js, moving the userbase to the new converged version will take quite some time. Especially for enterprises.
I am not fond of selling io.js within the docs. I think this would be greatly confusing.
The way the download page explains things is fro

[2015-06-19 01:15] chrisdickinson commented on #7
Who is this document for?

If it's for newbies, we should probably point them at the version that is most likely to universally work for them. Explaining the difference between the versions comes after that, perhaps as a separate document.

[2015-06-19 02:33] bnb commented on #7
I'd like to know what some of the core io.js developers think. (// cc @mikeal, @rvagg, @bnoordhuis, @indutny, @piscisaureus, @trevnorris; your views on this will help me understand the official position better.)

@danielkhan I think we have differing opinions on the way "current version" should be handled.

I guess my question is: there are inherent differences between the install pattern for io.j

[2015-06-19 08:31] danielkhan commented on #7
I just wanted to get the ball rolling. If it needs to roll into this discussion before we can proceed that's fine for me.

I still need to understand your point and use case, though because
- after the merge it will be neither the current 0.12 Node version nor the current io.js - it will be a new, merged version
- the brand name will be Node.js - so why confuse people now with io.js?
- if people a

[2015-06-19 12:53] bnb commented on #7
Let me try to address your points:
- I read in one of the io.js repos that the new Node version will adopt the current io.js version number. So, if there's not another release by the time they merge, the Node version will be 2.2.1.
- The brand name is Node.js - however, given the above, the code base will be mostly io.js' updated version, with the new features of Node 0.12 patched in. This is one

[2015-06-19 13:19] danielkhan commented on #7
I am aware of the ongoing process and I am also quite aware of its implications especially as my company invested quite some time and effort to support the current Node.js development line in its products. I also think that it will take at least one year until enterprises can switch to any new version of Node.js.

Said that I really doubt that the installation - and this is what this issue is abou

[2015-06-19 13:48] bnb commented on #7
Okay, I can get on board with that. Would you agree to having a link to another docs page that explains the situation with Node + io.js merging to make the Node Foundation? Could this page explain the version variance, or link to yet another docs page that does?

[2015-06-19 14:00] danielkhan commented on #7
Perfect. Sure I am agreeing with this because not explaining the whole io.js thing could also confuse users.

Any other thoughts? Anyone?

[2015-06-19 14:11] mhdawson commented on #7
In respect to @bnb 's last comment I'm thinking that @jasnell who is helping to drive the convergence work should be involved at least as a reviewer for the docs page that explains the the situation with Node + io.js merging to make the Node Foundation

[2015-06-19 14:33] jasnell commented on #7
I'll definitely review. Just may take an extra day or two while I recover
from vacation ;).
On Jun 19, 2015 7:11 AM, "Michael Dawson" notifications@github.com wrote:

[2015-06-19 20:49] sam-github commented on #7
@bnb you might find this useful, its how we recommend people install node on windows: http://docs.strongloop.com/display/SL/Installing+Node+and+StrongLoop+on+Windows

[2015-06-19 23:50] chrisdickinson commented on #7
@bnb:

You can reach all of us with `@nodejs/tsc`. My two cents: I'd prefer that we point initial installs at v0.10 until the [release channel discussion](https://github.com/nodejs/io.js/issues/1997) reaches a definite conclusion. We can easily change the text around this in the future – for the moment, better to point at _something_ rather than at nothing.

@danielkhan It occurred to me that I ha

[2015-06-20 09:31] danielkhan commented on #7
My target group would be people that want to install Node.js - as simple and maybe naive as that. That might be newbies but also people that look up the current best practices to install it.
What is the audience you had in mind?

[2015-06-22 13:47] bnb opened #10 "List of Documentation Issues to Be Worked on from nodejs/iojs.org (formerly iojs/website)"
I have tagged issues from the old iojs/website repo, now located at nodejs/iojs.org, with docs and invalid to indicate that they should be handled by the Docs WG, and removed them from the new.nodejs.org agenda.

**These issues are still important, and need to be addressed.** They just aren't in the perfect place to do so - thus, this issue has been created.

List: [node/iojs.org - issues tagged w

[2015-06-22 14:02] stringparser commented on #10
@nodejs/iojs-es, concerning API docs and open questions about API localization docs.
EDIT: Related to #11

[2015-06-22 17:54] stringparser opened #11 "API localization: open questions"
Previously handled in nodejs/website#211. Echoing here.

Open questions were:
- when we can start?
- what the structure of the folder should be?
- how it would be merged into main website?

Feedback: some localization groups have started the translation of API docs (iosj-ru, iojs-es). The documentation wasn't migrated over the documentation to the website group. Tooling missing at the moment.

[2015-06-22 21:12] misterdjules commented on #7
@chrisdickinson Why would v0.10.x be the recommended version of Node.js to install? That is probably related to my question here: https://github.com/nodejs/io.js/issues/1997#issuecomment-114262948.

[2015-06-23 02:04] chrisdickinson commented on #7
@danielkhan:

It might be best to separate newbies out from an in-depth installation guide. There are a lot of (completely valid) ways to get a working copy of `node` and `npm` onto your system — but newbies just need to know one way, and to be able to rely on that way working.

We definitely need both guides – "how to install" for newbies, and an exhaustive "how to install" for experienced devs.

[2015-06-23 02:09] chrisdickinson commented on #11
Ideally it would echo the folder structure of this repo.

We don't have a `Makefile` (or really any way to build the docs that we're writing) at the moment. Once we have that we should be able to kick off i18n in earnest.

[2015-06-23 02:11] chrisdickinson opened #12 "Documentation Tooling"
Hi – I'm taking this task for myself.

I'm going to investigate documentation tooling for this repository.

Goals:

* Command to build docs into html format
* Command to serve docs locally
* Command to test docs (for broken links, spelling, etc.)

It's pretty likely these'll live as `npm` scripts (`npm test`, `npm start`, `npm run export`, etc.)

[2015-06-23 02:51] bnb commented on #11
Pinging @mikeal on this one - he is the best person to talk to about getting the i18n going like it did with the iojs/website.

[2015-06-23 07:17] danielkhan commented on #7
@chrisdickinson

I am currently trying to get this done within one document - let's see how it works. We can split it up or dump it afterwards.

[2015-06-23 07:34] chrisdickinson commented on #11
My current line of thought is to make the tools easy to work with, and the directory structure bog-standard, then to allow for the same sort of fork-it-and-run-with-it strategy as the other i18n efforts.

[2015-06-23 18:16] misterdjules commented on #7
@chrisdickinson v0.12.x is the current stable version. I believe it is unlikely to do anything unexpected on new users in terms of installation. Regarding the installation process, I believe what applies to v0.10.x also applies to v0.12.x, so I would think that most documentation and answers online about v0.10.x apply to v0.12.x.

Also, npm shipped with v0.12.x is current, whereas npm shipped with

[2015-06-24 01:05] chrisdickinson commented on #7
@misterdjules Let's wait to see what @danielkhan comes up with:
- I don't envision it being too terribly hard to switch the version we're talking about installing.
- I don't want to block this documentation on an argument that should happen elsewhere, especially if it's going to be easy to change here.
- It's probably too soon to worry about directing users to the wrong version. This repo is not l

[2015-06-24 01:18] chrisdickinson commented on #12
Notes on tools: there have been two attempts to unbundle the existing doc tool from the core repo.
1. I pulled out [the tool](https://github.com/nodejs/doc-tool) from io.js at one point.
2. @robertkowalski pulled it out [of joyent/node](https://github.com/joyent/node-documentation-generator).

I'm unconvinced that we can continue the "hand one file to the doctool, get one file back" approach — we

[2015-06-24 01:23] Qard commented on #12
:+1: for link checking. It would also be good to check if a page exists that is _not_ linked to from anywhere.

[2015-06-24 14:39] misterdjules commented on #7
@chrisdickinson I don't mean to block anything, I want to avoid the situation where a lot of new users read some documentation that mentions v0.10.x as the version to install by default, or some kind of LTS, when as you said this should be recommended by the LTS group. It seems we're on the same page about this so it's all good :+1:

[2015-06-24 21:40] bnb commented on #12
Also :+1: for link checking. From the point of view of an inexperienced programmer, it seems like that would add a lot of complexity. Is that not the case?

[2015-06-24 21:43] bnb commented on #7
:+1: as well. For me, at least, I (stupidly) adopted the attitude that we're shipping to production right away, which I now see was never the case. Apologies for adding to the blockage.

[2015-06-24 22:01] chrisdickinson commented on #12
@bnb It shouldn't add much complexity. It's just a bit of extra bookkeeping for internal links. I'm not sure how I feel about checking external links, but even that would be pretty simple (it might take a bit longer to run, though!)

[2015-06-24 22:22] Qard commented on #12
I'd pass on external links. Or, at most, make it a separate build task that only warns--other websites will go down, and it's not in our power to know or control exactly when that may happen.

[2015-06-27 00:35] Qard commented on #3
Here's the beginnings of the autodoc service: https://github.com/Qard/v8-autodoc

You just hit `example.com/commit-hash-or-tag/*` and it'll generate the docs for the V8 version from that particular commit. It's a bit rough at the moment, but it works.

[2015-06-28 09:28] danielkhan commented on #7
Can someone elaborate on what will happen to wiki pages like https://github.com/joyent/node/wiki/Installing-Node.js-via-package-manager - at the beginning there is now a note that the wiki page will undergo a full update. I am currently writing the linux part for our docs - how does the wiki relate to us at all and can we incorporate parts?

[2015-06-28 10:55] simov commented on #12
~~IMO we should have a thorough JSON structure in the first place. I just realized that the [JSON docs generator](https://github.com/nodejs/doc-tool/blob/master/json.js) actually parses the markdown, which is kind of nice, I guess, but how about having a good JSON structure in the first place?~~

I would like to have things such as `inherits` key, that alone will improve the docs dramatically, bec

[2015-06-28 21:26] drewfish opened #20 "new topic: asynchronous programming"
I would like to attempt a first version of the ~~guide~~topic to asynchronous programming.

The intended audience is javascript programmers new to node.js.

This doc would probably live at `src/topics/async.md`.

I'm thinking of the following rough outline:
- what is async programming
  - something about function returning early, results available later
- why async is done in node.js
  - something

[2015-06-28 21:31] drewfish commented on #20
It occurred to me that there's another type of async programming: polling. (For example, `startWork(); while (!resultsAvailable()) { do other stuff } results = getResults()`.) It's very uncommon in node.js programming and so would probably just confuse new users.

[2015-06-28 22:00] drewfish commented on #20
Since we currently have neither the the callback topic, nor promises topic, I'll probably include a small placeholder description and links to guides on the internet. Once we have these topics we can revise this doc to leverage the topic docs to describe the material.

[2015-06-28 22:42] chrisdickinson commented on #20
Sounds good! The outline seems a bit more like a topic doc than a guide doc — but it could go either way depending on how the document is written; either way, it would be a valuable addition!

[2015-06-29 00:04] drewfish commented on #20
Hmmm... which do you think would best serve the community, topic or guide?

If this should be a guide, what might a guide outline look like?

[2015-06-29 01:18] rvagg commented on #7
You can copy as much of the readme @ https://github.com/nodesource/distributions as you want which contains info on how to install the various versions on Linux, it's quite complicated now with all of the versions available but that's just the way it is.

We still don't have full support across Linux distros for 0.12 and io.js for build-chain and complexity reasons but I expect that to be sorted o

[2015-06-29 02:58] chrisdickinson commented on #20
Usually a guide has the reader build something — a little webserver, or CLI — and explains the concept it's trying to convey using examples from the readers experience with that code. Guides are great for introducing new concepts in a comfortable way, by letting the reader "simulate" the process of what development will be like using those concepts. [Django's getting started guide](https://docs.dj

[2015-06-29 15:43] drewfish commented on #20
Got it, thanks. I think I was thinking more of a topic, so I'll attempt that.

[2015-06-30 00:56] bengl opened #21 "Guide: Anatomy of an HTTP Transaction"
(Not sold on the title. Ideas pls!)

I have a lot of time on planes coming up in the next few weeks so I thought I'd seize the opportunity. I'd like to put together a in-depth guide on how HTTP requests are handled. This could be a replacement for, or something to go alongside, a "Your First Webserver" guide.

I'd start it out with a very basic web server (possibly all at once, possibly bit by bit

[2015-06-30 02:44] bnb commented on #21
Sounds good. I actually did a post very similar to this for Modulus a while ago; would there be interest in pulling that? I have no problems with it, and Modulus is a Foundation member. @mikeal is the only person I know that would have any idea, although I'm sure there are others.

[2015-06-30 15:32] bengl commented on #21
Yeah happy to pull from that if it's cool with everyone. Less work that way :)

[2015-06-30 22:37] bnb commented on #21
Just to be clear to everyone, we'd still need to give 100% credit to Modulus. Having some sort of system in place where foundation members can sponsor or share guides (or whatever we're calling them) that are officially credited to them, and which we publicize the publication of. The @nodejs/evangelism  WG might have some ideas on this.

[2015-07-01 17:49] chrisdickinson commented on #21
@bnb I am not sure how I feel about that — it kind of sets an odd precedent for the project. For instance, _hypothetically_, npm, (or Walmart, or Yahoo) might see that certain parts of the docs have advertising for the company that donated them on the page, and might (reasonably) insist that all pages that their developers donate their efforts towards carry their logo as well. I lean towards accep

[2015-07-08 06:42] chrisdickinson opened #23 "Internal doc guide: introducing larger features"
It would be handy to have a guide that introduced "how to introduce large features into Node". It should touch on the planning process, review, and bits of implementation — for example, the use of feature flags to gate access.

[2015-07-08 07:05] Qard commented on #23
Sounds good. As part of it, we should try to identify what _should_ actually be made into a PR and what is more suitable for userland.

[2015-07-13 15:33] chad3814 commented on #3
an automated system would be great, I've manually done most versions of node and io.js at http://v8dox.com/

(this is all non-automated and on github pages)

[2015-07-14 01:36] Qard commented on #3
Would anyone care to review my code for the [V8-autodoc service](https://github.com/qard/v8-autodoc), and is there somewhere I can host this?

I'm a bit unsure what I think of the checkout-and-generate flow. It could be a DoS target, not sure how worried I should be about that risk here.

[2015-07-28 18:00] mikeal opened #25 "Tutorial on Using and Debugging Streams."
This is based on a twitter interaction I just had with @janl. Also suggested that @remy would have good feedback as well.

https://twitter.com/janl/status/626089572301062144

[2015-07-28 18:02] mikeal commented on #25
Prior art by @jeresig : http://ejohn.org/blog/node-js-stream-playground/

[2015-07-28 18:06] max-mapper commented on #25
modules you should use if you care about error handling (aka "why i dont use .pipe in production"):
- http://npmjs.org/pump
- http://npmjs.org/pumpify
- http://npmjs.org/end-of-stream

other ones I use all the time
- http://npmjs.org/through2
- http://npmjs.org/duplexify
- http://npmjs.org/concat-stream

good streaming data format modules
- http://npmjs.org/csv-parser
- http://npmjs.org/ndjson
- h

[2015-07-28 18:23] remy commented on #25
So, what Jan was alluding to (re: twitter) is that I built a project that initially blew up node (due to buffering so much data in memory) so I moved to streams.

A quick list (off the top of my head) of the main pain points of working with streams (though I had it working in the end):
- There's no real information on when a stream starts or why it might stop
- Large streams with lots of `through`

[2015-07-28 18:29] max-mapper commented on #25
@remy great list! here's some random feedback
- for peeking we use https://www.npmjs.com/package/peek-stream
- definitely use through2 over through
- for error handling, always use `pump` with a callback and `.destroy`
- on debugging, I started this discussion https://github.com/rvagg/through2/pull/33 but it is not resolved yet. the current idea is to monkeypatch the `Stream` base constructor to i

[2015-07-28 18:52] remy commented on #25
@maxogden I did look at that peek-stream module and it made no sense to me. It only seemed to solve the specific problem of redirecting the stream. I read through the code several times before - trust me, I definitely did not want to re-invent anything!

Re: through2 vs through - why? When I asked, through2 just seemed to give more control/options and thus complexity.

What I'd love to see: a visu

[2015-07-28 19:09] max-mapper commented on #25
@remy ah ok, sorry about that. I'll try and improve the docs. To use it to only peek at the value you could treat it like a transform stream, e.g.

[code]

re: through vs through2, all the reasons are related to streams2, the tl;dr of which is that backpressure works differently, and better, in streams2 and above, so its important to use streams2 modules with other streams2 to make sure things get

[2015-07-28 19:15] jeresig commented on #25
:+1: to good stream tutorials! Feel free to do what you'd like with my playground, as well: https://github.com/jeresig/node-stream-playground

If you'd like to host it (!) that'd be super-appreciated, as well. Would be happy to transfer the domain name and everything. Let me know how I can help!

[2015-07-28 19:17] max-mapper commented on #25
@jeresig oooh maybe @finnp would be interested in collaborating there, he has been working on http://www.finnpauls.de/streams-editor/

[2015-07-28 19:34] Qard commented on #25
:+1: Streams are rather confusing to new devs. There's a lot of magic in there.

We've discussed having separate guides for both using streams and for implementing streams, along with a topic page on understanding streams internals. PR are of course welcome. Do you think that set of docs pages could cover everything well?

[2015-07-28 19:45] max-mapper commented on #25
The biggest antipattern I've seen in 'implementing streams' education is where people (both teachers and learners) think they have to know all aspects of streams1, 2 and 3, exhaustively list all caveats and properties, methods etc. In reality you don't need to know 80% of that stuff to get started implementing streams, and trying to learn it all at once always fails and causes people to give up. A

[2015-07-28 22:41] samholmes opened #26 "Missing Error Documentation"
In my experience, Node.js will report many errors like EACCESS, EPIPE, etc. No where are these errors documented (what they mean and when they occur). This seems like a big issue.

Why it's a pretty significant issue is because errors is one of the most common thing developers must handle, and a vague error is the worst kind of error. I believe Node.js can do better; I think every error from Node.

[2015-07-28 22:55] sam-github commented on #26
I believe this issue to have been fixed already in io.js, have you seen https://iojs.org/api/errors.html#errors_common_system_errors ?

[2015-07-28 22:59] Qard commented on #26
Indeed, when a converged node build lands, the updated API docs should also land on the nodejs.org website. In the meantime, that page could be backported. I don't see anything there unique to io.js.

[2015-07-29 03:28] Fishrock123 commented on #26
As already noted, they were documented months ago by @chrisdickinson: https://iojs.org/api/errors.html

[2015-07-29 03:28] #26 closed

[2015-08-06 00:13] mikeal opened #28 "Documentation on new.nodejs.org"
Heya,

It seems prudent for this WG to take responsibility for the documentation on `new.nodejs.org`.

Right now this section is called "Resources" but that is not a great name and should probably be changed to something better which is also something I think we should leave to this WG to decide :)

You can name it something else by editing this file https://github.com/nodejs/new.nodejs.org/blob/m

[2015-08-06 00:25] Qard commented on #28
Sounds good to me! :+1:

[2015-08-07 22:01] sam-github opened #29 "Markup to describe when APIs were introduced/changed"
It would really help if the API documentation had some kind of consistent markup that described at what node version and API was introduced and or changed in a backwards incompatible way.

For example [io.js newSession docs](https://iojs.org/api/tls.html#tls_event_newsession) doesn't at all mention that the callback argument is new since [0.10](https://nodejs.org/docs/v0.10.0/api/tls.html#tls_even

[2015-08-07 22:10] bengl opened #30 "Kickoff Meeting [2015-09-18 20:00 UTC]"
At the Node.js Collaborator Summit, it was decided that a Documenation Working Group meeting needs to happen.

So let's do it.

### Date and Time

Aug 18th, 2015, at 20:00 UTC. ([See this in your local time zone.](http://www.timeanddate.com/worldclock/fixedtime.html?iso=20150818T2000))

### Participating

Participant link: https://plus.google.com/hangouts/_/hoaevent/AP36tYeG3AQAvPNE5qmWKaTc-2s7Dgx

[2015-08-07 22:20] drewfish commented on #30
The doodle doesn't say — a 1-hour meeting?

[2015-08-07 22:50] bengl commented on #30
Yes, a limit of 1 hour.

[2015-08-08 01:02] sam-github commented on #30
I'm away all next week. One of the other things that came up at the summit was trying to give more time to schedule meetings :-) I think all proposed dates should be at least a week from now, to give people time to put things in their calendar.

[2015-08-08 01:06] chrisdickinson opened #31 "Information / brainstorm / input session w/ all of the “locale” groups"
Crosslinking this issue here: https://github.com/nodejs/Intl/issues/9

cc @nodejs/documentation

[2015-08-08 19:50] bengl commented on #30
@sam-github Oops! I had definitely meant to do one week later than that. For some reason I thought we were still in July. Sorry!

In light of that, I've edited the Doodle and the description here.

[2015-08-09 17:29] bengl opened #32 "Document header over-writing versus joining"
[This](https://github.com/nodejs/io.js/blob/master/lib/_http_incoming.js#L122-L126) doesn't appear to be explained in the HTTP API docs. It should be there for clarity. For the moment, it seems that this comment in the source seems to be the only place it's mentioned.

[2015-08-09 19:02] chrisdickinson commented on #29
IIRC, we reached agreement that noting introduction (and, when applicable, deprecation) versions is the desired course of action at Node summit last week.

As a strawman:

[code]

We should also look into building an [mdast](http://npm.im/mdast) plugin that can extract this info, linkify it to the appropriate section of the the CHANGELOG, and render it in a nicer form.

[2015-08-09 19:18] drewfish commented on #32
I believe the HTTP incoming headers merge/overwrite algorithm changed between 0.10 and 0.12.
https://github.com/joyent/node/commit/51bd1b4483f60d85ee19274aab98505a0b5c9105

[2015-08-09 19:40] wooorm commented on #29
As a side note, I’d love to help in any way possible regarding implementing **mdast**. As the author, I’m sure I can answer a lot of questions and implement feature requests fast!

[2015-08-10 15:33] snostorm commented on #30
I'm interested in attending

[2015-08-10 18:30] bengl commented on #30
Based on the Doodle, let's do this on Aug 18th at  20:00 UTC. ([See this in your local time zone.](http://www.timeanddate.com/worldclock/fixedtime.html?iso=20150818T2000))

Participant link: https://plus.google.com/hangouts/_/hoaevent/AP36tYeG3AQAvPNE5qmWKaTc-2s7DgxyhV-MelM43peyBHJhC84DZg

Link to watch: http://www.youtube.com/watch?v=Z-nYI5Q5myM

[2015-08-15 17:03] jasnell opened #34 "docs: improving documentation of setTimeout/setImmediate/process.nextTick"
There are several outstanding issues in joyent/node requesting better documentation
of setTimeout, setImmediate, and process.nextTick. Opening this to consolidate the
reports and track status. Will add links to the original issues here, but closing those
original issues.
- https://github.com/joyent/node/pull/7447
- https://github.com/joyent/node/pull/6725

[2015-08-15 17:45] drewfish commented on #34
PR #24 is a topic on async programming, which seems a natural place to describe this.

[2015-08-15 19:58] Qard commented on #34
I think it makes more sense for it to be reference. The information provided is specific to the behaviour of those functions.

[2015-08-15 21:42] bengl commented on #21
Closed by #27

[2015-08-15 21:42] #21 closed

[2015-08-17 20:48] Qard commented on #29
In addition to the `Introduced` and `Deprecated` tags, it would also be good to have an `Unstable` tag to mark things that have been merged but are not yet available in stable. Similar to [rust docs](https://doc.rust-lang.org/stable/std/simd/).

[2015-08-18 17:54] bengl commented on #30
Here's a minutes doc: https://docs.google.com/document/d/1Q1HyzOf-kjx2giZgSzg5hTY8omieux5mQRykwLHboxU/edit?usp=sharing

If you want edit access and I haven't given it to you already, please email me (bryan@bryanenglish.com).

[2015-08-24 15:35] danielkhan commented on #30
I was on vacation and just watched the video and just want to add my 2 cents here. Not knowing where the API docs topic went by now I just want to ask if we couldn't learn from other projects here. Looks like a quite common problem.
For instance PHP really has excellent docs (http://svn.php.net/viewvc/phpdoc/en/trunk/).

Maybe this is a naive approach but to me continuously extracting the function

[2015-08-25 23:38] mikeal commented on #28
So, we _really_ need someone to take on the new Docs landing page for new.nodejs.org.

https://github.com/nodejs/new.nodejs.org/blob/master/locale/en/docs/index.md

[2015-09-15 06:21] Frijol opened #39 "This repo needs a readme!"
I came to this repo hoping to help out with docs-writing, read the CONTRIBUTING.md, and then started poking around the repo looking for examples/some idea of the state of things.

All I found were mystifying nested folders and some old discussion on the issues. What now?

Let's put a readme in place so nobody gets lost. It can be very basic, but needs to include such information as:

* What is the

[2015-09-15 09:07] liuzeyafzy opened #40 "Cannot find 'Event: data' or 'Event: error' in the table of contents.(api/http.html)"
When I use _http.request_, I can get  an instance of the _http.ClientRequest_ class. Also I need handle error event like this:

[code]

However, no _Event: error_ in _http.ClientRequest_.
The same to _Event: data_ in _http.IncomingMessage_.

[2015-09-16 07:32] boneskull opened #41 "running nodejs on embedded systems"
I heard mention in the hardware wg that the docs team may be looking for someone to write a tutorial about running nodejs on embedded systems.  is this accurate?  I was looking to help out, but need more information.

thanks

[2015-09-16 20:44] sam-github commented on #40
You are right about error, though error is often not explicitly documented, its a bit special. Should be there, though. Can you submit a PR?

For IncomingMessage, you missed that it's a ReadableStream, follow that link, it documents the 'data' event.

[2015-09-16 21:49] Qard commented on #39
Yeah, it seems to me that `GETTING-STARTED.md` and `CONTRIBUTING.md` should be probably part of `README.md`, or at least referenced in it.

It is indeed a bit preliminary. Some docs have been put together, but I think there was a bit of uncertainty how this would all fit together post-foundation-merge. Now that node 4.0.0 is out, I think that picture is becoming clearer and we should probably do a

[2015-09-16 21:53] Qard commented on #41
Yep, I think some docs for hardware/robotics would be really helpful. From what the install process is like to introducing libraries one might need for things like gpio, it's all valuable. Just pick something you think a newbie might want to know how to do to get started working with node and robots. :smile:

[2015-09-16 21:56] boneskull commented on #41
@Frijol I saw your other issue here--you are @ Technical Machine, right?  Is this something you might be interested in collaborating on?

[2015-09-16 22:02] boneskull commented on #41
@Qard I get the feeling most people do not work with `node-serialport` directly, and instead use Cylon or Johnny-Five.

Is the guide to be more low-level, or more practical?

If the latter, I'd probably have it walk the user through using one or both of the aforementioned packages.  Also, Tessel has its own stuff too, I think.

[2015-09-16 22:11] Qard commented on #41
I think it's probably best to focus on introducing what is available in the ecosystem and link to places where one can learn more about those things. Johnny-five, for example has plenty of documentation already, but lacks visibility to new users. I don't think the goal of the docs WG should be to duplicate community effort but rather to draw attention to it and fill in any gaps, if needed.

[2015-09-16 22:15] danielkhan commented on #39
I agree with @Frijol and @Qard. For me it was a bit confusing that we had quite a discussion on if I should cover installing io.js in the installation doc just to later find out that the docs don't yet end up at the new website for 4.0.0 anyway. Now having only to cover 4.0.0 is a relief, though.

Unfortunately I haven't yet understood the context in which for instance a installation doc will be s

[2015-09-17 04:27] Frijol commented on #41
@boneskull at Tessel, actually ([pedantic distinction](https://tessel.io/about))

Definitely interested in getting involved in this process. I've been writing http://tessel.github.io/t2-start/ lately

[2015-09-17 04:29] Frijol commented on #39
right with you @danielkhan on feeling a bit lost!

[2015-09-17 04:34] Qard commented on #39
A lot of the discussions around technical ideals for the docs structure and design have referenced the Rust and Django docs. Those are good places to look for what we think are docs done right.

[2015-09-19 14:29] mikeal commented on #39
Frankly, I think this repo has been way too focused on tooling when what we really need is content.

If the current tool isn't finished I think the simplest one imaginable should be created and we should start doing outreach focused on building and improving content which is visible on the website. Tooling can be improved later, the important part is building a community around created and improvi

[2015-09-19 15:04] Qard commented on #39
:+1: More content is exactly what I want to see.

[2015-09-22 00:54] liuzeyafzy commented on #40
@sam-github Thanks for your help.
I`m not ready to submit a PR.

[2015-09-22 17:02] silverwind opened #42 "A section for guides"
There's an issue (https://github.com/nodejs/node/issues/2165) with HFS+ where unicode paths returned by the file system are not necessarily the same as the ones that were written because HFS+ forces certain code points to be in NFD form apparently. The consensus looks to be to avoid unicode normalization in node and instead delegate the normalization task to the user.

I could litter all related m

[2015-09-22 20:29] Qard commented on #42
Sounds less "best practices" and more "here be dragons", but I agree that it'd be good to document some of the weird and unexpected things users might need to be aware of.

[2015-09-23 06:23] jorangreef commented on #42
Thanks @silverwind .

Just to urge that the docs should not make it out to be a thorny issue. It's actually very simple and straightforward to work with when one takes a few minutes to understand it. It's filesystems 101 essentially. When people don't understand how Unicode normalization works they tend to panic and reach for the normalize-everything footgun. That's the real danger.

Perhaps it wo

[2015-09-23 06:28] jorangreef commented on #42
I can help with writing out a draft for this if needed.

[2015-09-23 19:28] Qard commented on #42
I didn't refer to it as "here be dragons" due to difficulty, it was because it's a thing that can easily be an invisible footgun, so awareness is important. I generally read "best practices" as, "these are some good ways to do a thing" and not "absolutely do this, or you will suffer".

Also, I'm not sure linking to Linus' rants is quite the tone we'd want to set.

[2015-09-23 19:54] silverwind commented on #42
I don't particulary like 'here be dragons', as I hear a certain tone of 'unfinished content', or as Wikipedia puts it:

'Best practice' implies to me that there is a bad practice that will bite you in edge cases, but I'm open to more suggestions of course. Naming things is hard.

@jorangreef you are very knowledgeable on this subject, and I'd love if you could write something up once we've decided

[2015-10-01 14:46] evanlucas commented on #2
I know I'm late, but any chance I can help out?

[2015-10-06 19:00] mikeal commented on #39
Can someone tell me the state of this repo/project? It seems like it's just a bunch of empty directories?

I'm concerned because there's a ton of people trying to do things in Issues with no real path to getting anything done. Documentation is becoming an increasingly hot topic and it seems like the undefined state of this WG is holding back contributions.

[2015-10-06 23:39] Qard commented on #39
Agreed. It seems there needs to be some coordination with the website wg to get this stuff online, but that's just not happening, for some reason. There also hasn't been a meeting in awhile, which needs to change.

[2015-10-07 00:02] Qard opened #43 "We need another meeting!"
We are way overdue for another meeting. 4.x has been out for awhile now, and @nodejs/website has the keys to nodejs.org now. We need to coordinate with the Website WG to get what we've got onto the website and do something about the collaboration-unfriendly state the repo is currently in.

I've put together a doodle to find a time next week: http://doodle.com/poll/8wwpw97f62gpawrx

The agenda doc

[2015-10-07 00:11] mikeal commented on #43
We shouldn't default to a meeting when things aren't moving along. Ideally
meetings are held to resolve disagreement when it exists but the issues
you've brought up have just started being discussed and may be able to be
resolved without a meeting. I'm not saying you won't need a meeting at some
point but you should enter the meeting with competing solutions to the
problems you're raising and I ha

[2015-10-07 00:19] Qard commented on #43
True, but I feel like we really need to get everyone on the same page. There was a bunch of activity and then silence for awhile. The problem with async communication like github issues is that it's too easy to procrastinate responding/acting. My hope is that, by planning a meeting, I can get people on a call together and sort through the issues all at once.

What do you think? A time-boxed issue

[2015-10-07 00:21] mikeal commented on #43
Maybe start with a time boxed issue because if you cant get engagement on
that I doubt you can get the doodle filled out for a meeting :(

On Tuesday, October 6, 2015, Stephen Belanger notifications@github.com
wrote:

[2015-10-07 04:52] Qard opened #44 "Migrate content files to new.nodejs.org?"
There seems to be a disconnect between the website and the docs wg. I feel like it'd help to merge our content files into https://github.com/nodejs/new.nodejs.org and do all future documenting there, using this repo purely for communication and documenting the _process_ of contributing docs. Does anyone have any strong opinions here?

I'd be happy to do the migration, if we want to go forward with

[2015-10-07 05:01] #43 closed

[2015-10-07 05:25] bengl commented on #44
I think I'm +1 on this.

This would make the process for making our new docs available/published much more streamlined. I think the existing process for document inclusion and review can happen in the website repo, especially if @nodejs/documentation [gets write access there](https://github.com/nodejs/new.nodejs.org/issues/205).

Based on activity (though not necessarily time), this WG and repo ar

[2015-10-07 05:45] Qard commented on #44
Yep, my thoughts exactly. We've got a handful of docs written and no clear process on how to merge changes as a separate repo. As a single repo it's a lot clearer, and we can use this repo to further clarify the process. :smile_cat:

[2015-10-07 05:57] chrisdickinson commented on #44
SGTM!

[2015-10-07 08:33] phillipj commented on #44
Sounds awesome, much appreciated :+1:

[2015-10-07 22:07] Qard commented on #44
As you can no doubt see above, I've created some issues to port our content files over to new.nodejs.org. If/when those are merged, I'll put together a PR to remove that stuff from this repo.

[2015-10-08 15:53] jorangreef commented on #42
@silverwind I have a draft "Best practices when working with filesystems" which is up at: https://www.dropbox.com/s/7b1swypm08v76wo/Best%20practices%20when%20working%20with%20filesystems.html?dl=0

It focuses on case, Unicode form and timestamp resolution differences between filesystems. These are similar concepts and once understood they can be applied to other aspects of filesystem differences s

[2015-10-08 17:34] silverwind commented on #42
I'll read up on that on the weekend, thanks.

I think it would fit nicely in a separate section at https://nodejs.org/en/docs/, which is likely managed on the [website repo](https://github.com/nodejs/new.nodejs.org). Of course we should like to it eventually from `fs` and the relevant `process` methods.

[2015-10-08 17:37] silverwind commented on #42
Some more title suggestions:
- Working with Node.js
- Gotchas (Strikes me a bit as a slang)
- Common Pitfalls (might be too negative)

[2015-10-09 04:58] tlhunter commented on #2
I'm in

[2015-10-09 05:10] MylesBorins commented on #2
me!

[2015-10-09 05:19] Qard commented on #2
All are, of course, welcome. :)

Just a note: we are currently in a transition stage of migrating content to https://github.com/nodejs/new.nodejs.org. If you want to add new content, please make your PRs there.

I'm planning on spending some time Friday evening to remove the content files from this repo and write a bit on the process of contributing docs.

[2015-10-14 18:53] silverwind commented on #42
@jorangreef wow, you went into great detail there, great writeup indeed!

I'd say as a first step, you create a PR on the website repo to add it in markdown form, just like this one here: https://github.com/nodejs/new.nodejs.org/issues/218.

I think at this kind of detail, this would qualify and warrant a 'guides' section.

[2015-10-16 10:00] jorangreef commented on #42
Thanks @silverwind I have created the pull request at https://github.com/nodejs/new.nodejs.org/issues/249

At the moment it is not linked to from the docs anywhere. Will someone else create the guides section?

[2015-10-16 21:23] matthewloring opened #45 "Tutorial for using the built in node profiler"
I recently wrote a short tutorial on how to use the built in profiling capability in node to optimize app performance. I was wondering if the docs wg were interested in including this or something similar with any other guides or tutorials you have.

Here is the tutorial: http://pastebin.com/5v3TiNY8

[2015-10-16 22:43] Qard commented on #45
Definitely! It'd fit well as a topic. Feel free to open a PR to dump it into the [new.nodejs.org repo](https://github.com/nodejs/new.nodejs.org/tree/master/locale/en/docs) in a new "topics" directory within `locale/en/docs`.

[2015-11-19 07:40] bengl commented on #32
This is handled by https://github.com/nodejs/node/commit/4008961a07b5ea904273b89122ad8825f2593a53. Closing.

[2015-11-19 07:40] #32 closed

[2015-12-18 19:14] durkes opened #48 "Minor inconsistency between Timers and Global Objects doc pages"
Hello - I noticed some items on Timers are also documented on Global Objects, but not consistently.

These items are listed on both Timers and Global Objects:
clearInterval(t)/clearTimeout(t) and setInterval(cb, ms)/setTimeout(cb, ms)

But these items are listed only on Timers (missing from Global Objects?):
clearImmediate(immediateObject), setImmediate(callback[, arg][, ...]), ref()/unref()

[2015-12-29 22:27] synthe opened #49 "Programmatic access to folders for subset of modules"
I have the following scenario:

- install dev dependencies (gulp, gulp-zip)
- install regular dependencies (http-proxy)

[code]

I have to bundle my application code, as well as the http-proxy module, into a zip file in order to upload to my server (eg. aws lambda, or my server doesn't have internet access).

I don't want to zip up all 140 directories inside of node_modules when creating my deploy

[2015-12-29 22:36] #49 closed

[2015-12-29 22:36] synthe commented on #49
wrong repo, sorry

[2016-01-07 19:05] chrisdickinson commented on #44
I think (per https://github.com/nodejs/node/pull/4244#issuecomment-169562193) we're looking at working primarily in the Node repo now, and getting that to a place where we can produce internationalized docs for the website WG to consume.

[2016-01-07 19:17] chrisdickinson opened #50 "Docs WG Ratification"
There's been a *bunch* of discussion with regards to [getting ratified](https://github.com/nodejs/node/pull/4244) on the Node tracker.

The current proposal is:

* All of our docs live within the Node repo.
  * Commit cleanliness would be relaxed for authors — the person merging will clean up those commits.
* This repo exists for coordination and (*possibly*) review of net new docs before merging

[2016-01-07 19:55] chrisdickinson opened #51 "Doc WG Slack"
I've created a Docs WG Slack and invited the current members. If we decide we don't want to use this, it's totally fine — but gitter seems like it's been a ghost town, and it'd be good to have a space for continuous / real-time-ish discussion.

If you haven't received an invite, please email me at `chris at neversaw dot us`.

[2016-01-07 20:09] Qard commented on #50
:+1: from me. :smile_cat:

[2016-01-07 21:07] techjeffharris commented on #2
I, Jeff Harris, have been interested in finding a way to contribute to back to node and I believe the Docs WG would be a good starting point!

[2016-01-07 21:20] stevemao commented on #2
Steve Mao
Please count me in for English docs. Thanks :)

[2016-01-07 22:54] rubo-21 commented on #2
Me (rubenyeghikyan@gmail.com / @rubo-21)

[2016-01-07 23:03] kahwee commented on #2
I'm in too, I'll be more than happy to help the community. Email: t@kw.sg @kahwee

[2016-01-08 02:00] chrisdickinson commented on #2
Welcome, all! I'll do a run through tomorrow AM and get everyone added to the appropriate places.

As a heads up:

**This has since changed!** We're currently in the process of ratification, and as part of that we'll be looking to work inside of the nodejs/node repo itself.

[2016-01-08 13:18] rvagg commented on #50
It seems to me that one of the major blockers is the _"shares responsibility for `doc/api` with the core team"_ bit; where core wants to have API docs tied closely to API so new PRs affecting API can have "update the docs too" enforced in the same way as "add a test" is enforced. With the docs living elsewhere or being managed by a separate group this becomes more cumbersome and may impact the pac

[2016-01-08 15:27] jasnell commented on #50
I definitely like the idea of separating this out and having a more machine
readable root format for the API docs so long as there is solid effort
going into refining those into polished rich documentation. I can even take
a stab at writing up an initial version.
On Jan 8, 2016 5:18 AM, "Rod Vagg" notifications@github.com wrote:

[2016-01-08 15:46] Qard commented on #50
I think just pulling all the non-reference content out into guides is probably enough. Code PRs would have to include reference docs, but in-depth guides could be written separately.

[2016-01-08 18:15] bengl opened #52 "Docs WG Meeting #2 - 2016-01-20 @ 10:00AM PST"
Time for another meeting.

This meeting is scheduled for 2016-01-20 @ 10:00AM PST, and will be a public-viewable [Google Hangout on the Air](https://plus.google.com/u/0/events/cffe0t2oigh3kvk54bh3p0q7tbs).

If you participated in the Doodle poll, then your Github username should be in this list, and you should have received an invite. If not, and you want to participate, please email me (bryan@bry

[2016-01-08 19:44] ryansobol commented on #2
Ryan Sobol is in.

[2016-01-09 02:02] chrisdickinson commented on #50
@jasnell, @rvagg: This is an interesting approach! However, I'd like to avoid new tooling until we:
1. Figure out membership,
2. Have a meeting to discuss direction,
3. And become ratified.

Which isn't to say we can't have a discussion around doc tooling (which I agree, needs to improve!), but that we shouldn't focus on doc tooling as a key piece of getting the WG stood up.

Process discussion is

[2016-01-09 16:29] benjamingr commented on #52
Who is invited?

[2016-01-11 09:53] benjamingr opened #55 "Backticks confusing in examples"
I've just had the second person using normal ticks instead of backticks and not understanding why examples aren't working. Template strings are a relatively new feature and people are getting confused by the examples:

I think our examples should somehow emphasize that these are backticks (not really sure how), or we should avoid backticks except when discussed in the examples, or we can have a sm

[2016-01-11 21:43] chrisdickinson commented on #52
@benjamingr We're inviting all current Docs WG members, as well as any collaborators (or website WG members) that have committed to the `docs/` directory on nodejs/node within the last six months.

[2016-01-11 23:53] thefourtheye commented on #2
Please count me in

[2016-01-12 14:45] DavidTPate commented on #2
Count me in!

[2016-01-12 14:57] benjamingr commented on #2
I was already added as a collaborator to the repo (no one talked to me about it :P) as I said before I'd love to help with issues and review doc PRs and help. I can help with small contained tasks (like reviewing PRs, 1 hour meetings, or writing something but I don't really have the ability to commit to longer term projects).

[2016-01-13 19:19] Qard commented on #55
Sounds reasonable to me. Confusion is bad. :cry:

[2016-01-13 19:29] MylesBorins commented on #55
I have mixed feelings about this. The individuals who are most likely to be confused are going to be newer developers, and for them all the syntax is new and potentially confusing.

templating strings remove a slew of unnecessary code, and I do not believe the mental over heads is tremendous.

We could add a highlight / tooltip to all back ticks with extra information as one potential solution.

W

[2016-01-13 19:52] benjamingr commented on #55
I bet most experienced JS developers currently do not know template strings (or generators, or classes). Most JS developers code to the browser and don't use transpilers or only support the very newest browsers. The fact most teaching material doesn't cover ES2015 features doesn't help.

It's also very common for documentations to have the incorrect type of quotes - so it seems reasonable they'll

[2016-01-13 20:01] r-52 commented on #2
Please count me in, too

[2016-01-13 20:03] chrisdickinson commented on #55
I'm +0 on template strings and other ES2015 additions that lend themselves to brevity in code examples: the longer the code sample, the easier it is to lose the context of the surrounding document. I agree with @benjamingr that we should figure out a place to link for users to get more background on the language.

This _might_ be a sign that we need to start building out some docs on the docs. Tha

[2016-01-14 05:46] kahwee commented on #55
How about using backtick examples sparingly and have it be always accompanied by the non-ES2015 version.

For example, this example code:

[code]

Alternatively, with ES2015:

[code]

This keeps the example simple while introducing some ES2015 concepts.

[2016-01-14 08:24] rvagg commented on #55
I posted a possible way of dealing with this over @ https://github.com/nodejs/nodejs.org/pull/467, for the about page of the website, but the same approach can be applied to all of our docs. Purely proof-of-concept at this stage, don't pick apart my frontend JS & CSS!

![eswut?](https://cloud.githubusercontent.com/assets/495647/12319103/da080078-baf3-11e5-9a7b-bb9c1405d430.gif)

The markdown only

[2016-01-14 09:07] stevemao commented on #55
I think nodejs website isn't a place to learn JavaScript. The language is evolving from time to time and inevitably new features will be added to nodejs and the docs. We already have a page for esNext and it lists all the feature that corresponding nodejs supports (this could be improved though). As long as the code snippets work under the corresponding nodejs I think it should be fine. If they ar

[2016-01-14 09:55] benjamingr commented on #55
+1 this is definitely a welcome fix, if we default to "Modern JavaScript" it's a good fix IMO.

See the above discussion, a lot of web developers starting with NodeJS don't have a backend background nor know ES2015 - having to deal with both at once doesn't seem very welcoming to me.

[2016-01-14 09:56] benjamingr commented on #55
I've just shared the gif with both users who originally had the template string issues and received very positive feedback - in case that counts.

[2016-01-14 20:34] bengl commented on #52
@nodejs/documentation if you haven't yet put your availability for the meeting into the doodle, please do so. http://doodle.com/poll/8weupkr8x9kaetdd

[2016-01-14 21:04] bengl commented on #30
Closing this. Meeting happened and minutes are in #57.

[2016-01-14 21:04] #30 closed

[2016-01-14 21:06] bengl commented on #39
This repo _has_ a README now so closing this. @Frijol since you expressed interest in helping out, please have a look here: https://github.com/nodejs/node/issues/4573

[2016-01-14 21:06] #39 closed

[2016-01-14 21:13] bengl commented on #44
This stuff has all been moved now. All that remains is to remove the existing content directories from this repo. I'll leave this open until that's done.

[2016-01-14 21:14] bengl commented on #45
This was done, so closing.

[2016-01-14 21:14] #45 closed

[2016-01-15 01:31] MylesBorins opened #58 "Documenting benchmarking"
We should document the process of benchmarking in node so we have a resource to point contributors at.

This could include such topics as
- documenting test/common.js
- document createBenchmark
  - what magic does it give?

[2016-01-16 02:54] rodmachen commented on #2
I'd like to join this WG. I'm new-ish to Node, but have many years as an English teacher and journalist that I can put to use.

Looking forward to it.

[2016-01-16 03:20] rvagg commented on #2
I think "new-ish to Node" is actually a bonus here! Outside perspective is fantastic, thanks @rodmachen!

[2016-01-16 04:58] Qard commented on #2
Absolutely. It's easy for those of us with our heads deep into the depths of node to miss deficiencies in the surface material of our docs and general presentation to new users. :smile_cat:

[2016-01-18 09:48] eljefedelrodeodeljefe commented on #2
I'm in: Robert Jefe Lindstaedt @eljefedelrodeodeljefe

[2016-01-18 23:51] a0viedo commented on #34
I'm in favor of getting better docs for the highly misunderstood timers. `process.nextTick` doesn't seems to be replaceable by `setImmediate` simply because `setImmediate` doesn't have a deterministic behaviour when used with `setTimeout` but `process.nextTick` seems to do so. See https://github.com/nodejs/node-v0.x-archive/issues/25788

cc @davepacheco

[2016-01-19 00:22] a0viedo commented on #48
good catch! To my surprise, the entries for `setInterval` and `setTimeout` differs from Global Objects to Timers. I think it should be maintained in only one entry (probably Timers?) and reference those entries in Global Objects.

@nodejs/documentation thoughts?

[2016-01-19 03:41] chrisdickinson opened #59 "Documentation Roadmap"
Hi all —
I've noticed that it can be overwhelming to look at the state of the docs and try to pick a single thing out to work on. There are a _ton_ of things that need improvement, and everyone sees different deficiencies in the docs. Further complicating matters, the docs are a relatively tight space to work within — it's really easy to end up stepping on other folks' toes when making larger chan

[2016-01-19 04:04] Qard commented on #59
- Migrate stuff from [nodejs/nodejs.org](https://github.com/nodejs/nodejs.org/tree/master/locale/en/docs) over to [nodejs/node](https://github.com/nodejs/node/tree/master/doc)
- Figure out what to do with the [knowledge base](https://github.com/nodejs/nodejs.org/tree/master/locale/en/knowledge) content
- [Lint code samples](https://github.com/eslint/eslint-plugin-markdown) in docs?

Not sure if we

[2016-01-19 04:12] jrit commented on #59
User's that land on a page like this one https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/guides/simple-profiling.md which outputs to https://nodejs.org/en/docs/guides/simple-profiling/ can easily get confused about what version of node the doc is referring to. There is a PR open for the page here https://github.com/nodejs/nodejs.org/pull/449 but there doesn't seem to be a good patt

[2016-01-19 04:19] jasnell commented on #59
- providing clear, updated examples for each API
- providing basic, straightforward examples as early as possible in each
  document
  On Jan 18, 2016 7:41 PM, "Chris Dickinson" notifications@github.com wrote:

[2016-01-19 04:33] wraithan commented on #59
Documenting what things throw. Rust has it in their API docs like this: https://doc.rust-lang.org/std/string/struct.String.html#method.reserve

One case that has burned us at New Relic was [`process.memoryUsage`](https://nodejs.org/api/process.html#process_process_memoryusage) which can throw an exception when file descriptors are exhausted. This is because (at least on linux) it opens a file to c

[2016-01-19 07:00] benjamingr commented on #59
I think it could be really nice to revamp the error messages errors have in Node.

I think doc pages should attempt to explain how to deal with said errors.

I'd like to discuss the possibility of comments on API methods like some other languages have.

[2016-01-19 07:29] Qard commented on #59
Yeah...I really wish node had actual error codes and different error types. It really sucks having to parse the message to attempt to derive some actual context from the errors we get. It's kind of terrible. Better docs would help, but I think that's only _part_ of the solution.

[2016-01-19 14:17] DavidTPate commented on #59
- Documenting backwards compatible interfaces [fs.writeFile(file, data[, options], callback)](https://nodejs.org/api/fs.html#fs_fs_writefile_file_data_options_callback) for example could be called with `options` as an encoding or an object with encoding. But this fact is not clear.
- Links between the documents. In [fs.writeFile(file, data[, options], callback)](https://nodejs.org/api/fs.html#fs_f

[2016-01-19 22:48] MylesBorins opened #60 "Document how dependencies are managed / updated"
In #4765 an individual asked why a dependency was not being included as a submodule

https://github.com/nodejs/node/pull/4765/files#r50186199

Afaik we do not have the management strategy for dependencies documented anywhere.

Here is my response.

[code]

Where should something like this live?
How specific should it be?
Should it be documented on a per vendor basis?
Should this be a standard that

[2016-01-20 05:57] Qard commented on #60
I imagine this sort of thing would live in the collaborator guide. It could also be part of the [internals docs](https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/meta/topics/dependencies.md) I started, when that gets migrated into nodejs/node.

[2016-01-20 11:53] evanlucas commented on #59
Linking in https://github.com/nodejs/node/issues/1684

[2016-01-20 17:42] bengl commented on #52
@nodejs/documentation reminder, this meeting is today at 10AM PST. Please let me know if you don't have the hangout link.

[2016-01-20 17:53] benjamingr commented on #52
@bengl I don't have the hangouts, my email is benjamingr at gmail dot com

[2016-01-20 17:55] bengl commented on #52
@benjamingr sent

[2016-01-20 17:58] MylesBorins commented on #52
I don't have the hang outs link either :S

[2016-01-20 18:28] giltayar commented on #59
1. For each API call, documenting from which version this API was available.

Yes, I know that I can go look at older versions of the API, but it's a pain. I would prefer always looking at the latest version and figuring out from there whether the API I want is available in that version or not.
1. For each API call, which errors are "thrown" from it.

[2016-01-20 18:58] chrisdickinson commented on #55
OK, the resolution on this from the meeting was:
- We will look into changing the font / highlighting template strings differently to call them out.
- We're going to look into ways to receive feedback from folks reading the docs, especially newcomers.
- We'll continue to experiment with this approach in the future, but:
  - There are concerns about doubling the number of examples we're tracking &

[2016-01-20 18:58] #55 closed

[2016-01-20 19:35] chrisdickinson opened #61 "Doctool: Remark plugins"
This is a tracking issue for a new doctool using [remark](http://npm.im/remark). The goals are:
- Render the **api** docs as HTML roughly equivalent to the existing doctool output.
- Render the **guides** and **tutorials** added to the nodejs/node repo as HTML.

This issue will contain all known breakages and necessary plugins (both existing and net new), broken into "required" and "nice to have":

[2016-01-20 19:46] DavidTPate commented on #59
That a good point @giltayar

One of the documentation features I really liked from Android was that you could change you API Level (api version) and it would just grey out things that aren't supported on that version.

Check out [this](http://developer.android.com/reference/packages.html) and change the `API Level` drop down and you'll see things change as you go. It also greys parts out on pages

[2016-01-20 19:48] Qard commented on #61
The current tool also handles the JSON output. So we'd need to be able to parse HTML comments for context data and identify traits of function signatures in headers.

I'm thinking it might actually be good to have something that can interpret YAML before any header to section metadata and just edit the docs to store the metadata it currently stores in a less bad way.

[2016-01-20 19:57] chrisdickinson commented on #61
I am :100: in favor of this — are you thinking of something like:

[code]

[2016-01-20 20:20] Qard commented on #61
Yes, that. We could put whatever arbitrary data into it and then add renderers to decide what to do with that data. 😊

[2016-01-21 06:23] giltayar commented on #59
@DavidTPate - that's really really cool, and a lot of time must have been invested in that. But sometimes the simplest is the best in terms of value for effort: when adding an api, or changing it, just documenting the version number it was added/changed in. This will be for posterity, since the documentation is (I'm assuming) incremental.

Also, for me, doing it _from this point onward_ is good en

[2016-01-21 18:05] sam-github commented on #48
Documenting in timers, and linking to those docs from global objects makes lots of sense to me.

[2016-01-21 18:06] benjamingr opened #62 "Figure out how we can measure "understandability" of code"
Hey,

After the [last docs WG meeting](https://docs.google.com/document/d/1hs1gf1DK6ek5Lp5WWZOOOKTN52lbDZZcXUrOlWbhfUY) we figured out we need a better way to measure how understandable the docs are and what newcomers find confusing.

I'd like to toss around ideas for how we can _measure_ how understandable the docs are.

[2016-01-21 18:32] Zirak commented on #59
The naming of anchors. For instance, the link to `fs.symlink` is `fs.html#fs_fs_symlink_target_path_type_callback`, which is both weird on the eye and impossible to type yourself if you're searching for a function's doc.

`fs.html#symlink` or even `fs.html#fs.symlink` are conceivable alternatives.

[2016-01-21 19:46] silverwind commented on #61
[eslint-plugin-markdown](https://github.com/eslint/eslint-plugin-markdown) might be a good fit to integrate into `make jslint`. [markdownlint](https://github.com/mivok/markdownlint) could be used for linting markdown itself, but I fear it might require another dotfile in the project root.

Edit: I see you're aiming for `remark` plugins, so if these can do the job, so be it. Still would be nice to

[2016-01-21 20:07] silverwind commented on #42
Oh by the way, this is fixed: https://nodejs.org/en/docs/guides/

[2016-01-21 20:07] #42 closed

[2016-01-21 20:35] chrisdickinson commented on #61
@silverwind I think markdownlint would also add a dependency on Ruby, which might be a bit of a tough sell. It should be relatively straightforward to make a remark plugin that uses eslint, though!

[2016-01-21 21:02] silverwind commented on #61
Oh, yeah, a Ruby dependency kills it.

Regarding linting both markdown and code in markdown, I was thinking about adding a `doclint` target to the Makefile/vcbuild, so one can lint without building the docs, which is kind of important, especially because there's no `vcbuild doc` for Windows yet.

[2016-01-21 21:15] ashleygwilliams commented on #59
hi! i'm from the @nodejs/inclusivity WG.

we fielded an issue about experiences joining large open source projects: https://github.com/nodejs/inclusivity/issues/86

based on this, we plan on developing a `Getting Started in Node.js` tutorial that can serve as a friendly and approachable guide to open source contribution in Node. we hope to collect and organize a lot of the current work, as well as

[2016-01-21 22:02] Qard commented on #62
It might work well to partner with nodeschool on this to collect feedback from nodeschool students.

[2016-01-21 22:06] Qard commented on #61
I'm going to look into writing my own code block linter for this tonight or tomorrow night.

Also, :+1: for the doclint target. Should be easy enough to do. :smile_cat:

[2016-01-21 22:33] Qard commented on #59
@Zirak That would break any existing links people have made to the docs from elsewhere. It may be possible to add extra anchors for cleaner names in the future doctool though. I'll add that to the list of stuff to consider.

@ashleygwilliams As I mentioned in that tracking issue, internals docs is a thing we want to be better at, which should help with that.

[2016-01-21 22:34] Qard commented on #61
[Cleaner anchor text?](https://github.com/nodejs/docs/issues/59#issuecomment-173666402)

[2016-01-21 22:39] Zirak commented on #59
@Qard You're right. A mediocre solution would be to just have both, something like:

[code]

[2016-01-21 23:11] chrisdickinson commented on #61
@qard User-defined anchors would be _grand_, though I don't mind just doing the hacky HTML thing, either:

[code]

An alternative I was poking around with was to create empty links and have [a plugin pick 'em up](https://github.com/chrisdickinson/count-docula):

[code]

[2016-01-21 23:38] Fishrock123 commented on #59
I know @ashleygwilliams has worked on for the npm docs, but we _badly_ need something to clarify what `unlink(2)`, and similar do. `man` page explanations, and links to a generalized posix doc or similar documentation on what specific things at very least _generally_ do. This is a particularly bad problem in the `fs` docs.

[2016-01-22 00:04] ashleygwilliams commented on #59
i have a module that converts 'unlink(3)' to a link. would love to make a PR. i was planning on it months ago and just forgot 😅

[2016-01-22 04:29] chrisdickinson opened #63 "Docs WG Sign-up Round #2"
Hey folks! If you're interested in joining the Docs WG — or in helping out with the Node docs in general, leave your name here. We'll onboard folks on a regular basis. Thanks!

(Previously: #2)

[2016-01-22 04:35] chrisdickinson commented on #2
Closing this in favor of #63. I will be sending invites to the following folk who raised their hand:

@kosamari
@a0viedo
@ryansobol
@thefourtheye
@DavidTPate
@romankl
@rodmachen
@eljefedelrodeodeljefe

Docs WG membership privileges and responsibilities are [outlined here](https://github.com/nodejs/docs/blob/master/GOVERNANCE.md#membership).

You should be receiving an invite to the Docs WG Slack a

[2016-01-22 04:35] #2 closed

[2016-01-22 05:24] stevemao commented on #2
Hi @chrisdickinson , I think you missed a few people here?

[2016-01-22 06:09] techjeffharris commented on #63
I would like to help however I can!

[2016-01-22 06:19] shacharz commented on #59
Hi! Sorry if it already exists in the docs and I missed it.
I would love to see some higher level design and architecture documentation of nodejs.

Maybe some of it can link to v8 docs, but a whole picture that can get a beginner to wrap around his head about how exactly is nodejs built. All the way to the even loop, including design principles, and key optimization points.

An excellent example o

[2016-01-22 06:44] chrisdickinson commented on #2
Ack! Sorry about that — I'll do another pass tomorrow morning and add the following folk:

@stevemao
@kahwee
@rubo-21
@techjeffharris

Sorry about that!

[2016-01-22 07:04] stevemao commented on #2
Thanks so much :)

Sent from my iPhone

[2016-01-22 07:25] techjeffharris commented on #2
No worries, thanks!

On Thursday, January 21, 2016, Steve Mao notifications@github.com wrote:

##

Jeff Harris
1507 SE Clinton St
Portland, OR 97202

[2016-01-22 08:13] Qard commented on #61
I wrote a thing for [running eslint on fenced markdown code blocks](https://www.npmjs.com/package/remark-lint-code-eslint).

Actually, I wrote it to plug into another thing I just wrote for [running _any_ kind of linter on fenced markdown code blocks](https://www.npmjs.com/package/remark-lint-code).

Next up: a YAML metadata parsing thing.

[2016-01-22 11:03] danjenkins commented on #2
I'd love to put my hat in the ring, I hear it's not too late? - been looking for a way to give back to node and this seems perfect.

[2016-01-22 15:03] tomgco commented on #63
I am up for helping out!

[2016-01-22 15:16] ashleygwilliams commented on #63
hello! i am definitely interested and already working to start collaboration between this working group and @nodejs/inclusivity :)

[2016-01-22 15:25] rdodev commented on #2
I'm game. Can help with Spanish translations, if need be.

[2016-01-22 15:26] kwhinnery commented on #2
Hey there - will help out if I can!

[2016-01-22 15:27] rdodev commented on #2
Clarifying: I'm game for all documentation work and participation in WG. The Spanish bit was as side benefit 😀

[2016-01-22 19:43] eljefedelrodeodeljefe opened #64 "Readme: update members"
I just updated the members in the readme.md (didn't know that I have push rights here) according to @chrisdickinson 's lists

[2016-01-22 20:15] chrisdickinson commented on #64
Thanks!

In the future, could you open up changes as a PR and [ping someone to LGTM](https://github.com/nodejs/docs/blob/master/GETTING-STARTED.md#introducing-changes) it before merging?

[2016-01-22 20:15] #64 closed

[2016-01-22 20:16] eljefedelrodeodeljefe commented on #64
@chrisdickinson will do. First day... :-S

[2016-01-22 20:17] chrisdickinson commented on #64
Totally cool, it happens! :)

[2016-01-22 20:20] eljefedelrodeodeljefe opened #65 "outreach: want do promote doc WG at reddit etc."
cc/ @chrisdickinson

Even though it might not sound too sexy to contribute / express opinion to / about docs, I want to promote this thing, say at `reddit`. Catch phrase: "there is a doc WG now, please contribute / tell your opinion. We want to be the best docs out there". Does that seem valid to you?

[2016-01-22 20:56] Knighton910 commented on #2
Sounds interesting. :100:

[2016-01-22 21:16] techjeffharris commented on #59
I'm imagining a target audience index similar to the API docs Stability index.  Guides and Topics would have a target audience (beginner, intermediate, advanced) indicator at the top of the Topic/Guide possibly linking to prerequisite Guides and/or Topics.

We could provide a TOC Guide for each target audience--beginner, intermediate, and advanced--each of which could provide "pathways" to steer u

[2016-01-22 21:22] techjeffharris commented on #62
This inspired me to suggest a Target Audience index for Guides and Topics to help steer users to docs appropriate for their skill levels in the roadmap. https://github.com/nodejs/docs/issues/59#issuecomment-174051423

Any thoughts?

[2016-01-22 21:41] eljefedelrodeodeljefe commented on #62
+1 on nodeschool hook. Maybe also discuss `nodeschool`'s roadmap on this.

[2016-01-22 22:02] jasisk commented on #63
I'm in to help out.

[2016-01-22 22:06] chrisdickinson commented on #2
I could not find an email for the following folks. If you're listed below and are still interested in participating, could you please email `christopher.s.dickinson at gmail dot com`?

@kwhinnery
@rdodev
@rubo-21
@stevemao
@romankl

Thanks!

[2016-01-22 22:12] chrisdickinson commented on #63
OK! I've invited the following people to Slack and the Docs GitHub team:
- @ashleygwilliams
- @danjenkins
- @kahwee
- @kelthenoble
- @techjeffharris
- @tomgco

I've used the email address associated with your GitHub profile. If I haven't invited you, don't fret — it's most likely because I haven't been able to find an email for you. Please email me at `christopher.s.dickinson at gmail dot com` and

[2016-01-22 23:59] rdodev commented on #2
@chrisdickinson email sent confirming desire to participate.

[2016-01-23 00:03] stevemao commented on #2
Strange. I was invited to the organisation. Sent you my email @chrisdickinson :)

[2016-01-23 10:37] eljefedelrodeodeljefe commented on #59
@techjeffharris Good list. I guess `streams` could be several times in all of these categories with varying topics. I'd imagine something curated like this [piece](http://howtonode.org/coding-challenges-with-streams) of _howtonode_ for it, that would explain `streams` not only as a class, but a powerful programming technique.

[2016-01-23 22:32] techjeffharris commented on #59
Thanks! The list was from the top-of-my-head to get the ideas flowing.  Great article, though it could be even better if kept up to date with latest changes and best practices.

[2016-01-24 08:49] benjamingr commented on #62
Hi, I contacted [Dror Feitelson](http://www.cs.huji.ac.il/~feit/) from the Hebrew University who researches the understandability of code. I'm posting here his remarks on this issue:

great question.
I'd follow Gilb on this.  Gilb's law states that "Anything you need to quantify can be measured in some way that is superior to not measuring it at all". specifically he suggests a methodology of comp

[2016-01-24 15:21] rdodev commented on #2
Hey there, haven't gotten word or ACK of receipt, please let me know if this is a go. Thanks. :)

[2016-01-24 22:09] chrisdickinson commented on #2
Sorry for the delay all — I took yesterday off! I'll circle back and add everyone that emailed me this afternoon.

[2016-01-25 14:41] kahwee commented on #61
Where's the repo with the tool to generate the docs? I can try writing the plugins needed for them too.

[2016-01-25 16:09] Qard commented on #61
The existing tool is in nodejs/node repo at tools/docs. The "new" tool doesn't exist yet, but I should hopefully have an in-progress PR up later today to start discussion.

I have so far been writing what I can as fully generic modules, and would like to keep it that way as much as possible.

[2016-01-26 03:19] chrisdickinson commented on #59
OK, closing this now, slightly later than promised. What follows is a _distillation_ of what's been mentioned in this issue, grouped into related chunks of work. **This is not the roadmap itself,** and it is **not prioritized.** I will propose a `ROADMAP.md` in a subsequent PR.

## Content
- Identify common topics to pull into topic docs
  - Encoding — noted extensively in fs and buffer docs
  - B

[2016-01-26 03:19] #59 closed

[2016-01-26 03:20] chrisdickinson commented on #59
Oh, and I _almost_ forgot to mention: Thank you all for participating in this!

[2016-01-26 22:08] techjeffharris commented on #59
Great Distillation!

[2016-01-27 17:23] davepacheco commented on #34
In what situations would it make sense to continue using process.nextTick() over setImmediate()?

[2016-01-27 21:37] chrisdickinson commented on #12
Closing this in favor of #61

[2016-01-27 21:37] #12 closed

[2016-01-27 22:52] techjeffharris commented on #34
I watched a NodeSource "Need to Node" presentation hosted by @trevnorris called "[Event Scheduling and the Node.js Event Loop](https://nodesource.com/resources)" that very clearly explained the nuances and gotchas (setImmediate and nextTick should have their names swapped to be conceptually accurate, but they are likely not to change for a long time if ever due to historical precedent).

I'll put

[2016-01-28 03:31] chrisdickinson opened #69 "Docs Review Sign-up"
As part of our charter, this WG is required to review documentation coming through PRs in [nodejs/node](https://github.com/nodejs/node). However, we're to **avoid** blocking PRs from landing solely based on documentation concerns.

As a result, I propose we start a review of docs that have landed on the `master` branch of Node over the course of the past week. Our goal will be to clarify, correct,

[2016-01-28 03:52] Knighton910 commented on #69
sounds good Chris @chrisdickinson, I'm down for proof reading.

[2016-01-28 17:57] davepacheco commented on #34
I believe I understand the behavior (though more clarification is certainly helpful -- I tried to describe it for the official docs under https://github.com/nodejs/node-v0.x-archive/pull/6725), but I'm not aware of any situations where nextTick() is required where the same behavior cannot be more clearly written with setImmediate().  A concrete example would be very helpful.

[2016-01-28 18:12] eljefedelrodeodeljefe commented on #34
@davepacheco would that then mean that the internal use of `process.nextTick` is historic? Because it's used quite often. If it's that easy core should remove those as a best practice, no?

[2016-01-28 18:34] davepacheco commented on #34
Well, I may be wrong about that, and that's why I'm looking for cases where nextTick is considered necessary.  But yes, I wonder if many instances of nextTick() could be replaced with setImmediate().  I suspect that would be more complicated than simply replacing the function call because in many cases the code as written today depends on the fact that such events are processed sooner.  That doesn

[2016-01-29 13:07] eljefedelrodeodeljefe opened #71 "internal doc guide: a tour through node"
I was writing up a piece, that should give new comers and example work through of how node is built and how you can traverse the stacks. It is doing this by introducing a new feature `hello_world` from scratch  (I continued working of extending `path` though) with having `v8`, `libuv`, `js` code and hooking it into the build system.

It was missing some parts at the `libuv`-to-`v8` level and expla

[2016-01-29 13:37] thefourtheye commented on #71
Well, you can always ask, if you have any questions, in the IRC channel :-)

[2016-01-29 13:39] eljefedelrodeodeljefe commented on #71
Sure. I was just wondering whether that would be an interesting guide topic.

[2016-01-29 18:23] Qard commented on #71
:+1: I'd like to see this. Let me know if you need any help. :smiley_cat:

[2016-01-29 18:41] trevnorris commented on #34
@davepacheco At times it's necessary to allow a callback to run before the event loop proceeds. One example is to match user's expectations. Simple example:

[code]

Say that `listen()` is run at the beginning of the event loop, but the `listening` callback is placed in a `setImmediate`. Now, unless a hostname is passed binding to the port will happen immediately. Now for the event loop to proceed

[2016-01-29 19:37] davepacheco commented on #34
@trevnorris Thanks for that example.  In that case, all of the event management is handled in the "server" class, and it seems like that class could ensure that 'listening' has been emitted before emitting 'connection' (e.g., by checking a flag and queueing any 'connection' events, for example), right?  All things being equal, that implementation would seem clearer to me than having two tiers of "

[2016-01-29 20:39] chrisdickinson commented on #71
This would be excellent!

[2016-01-29 20:58] techjeffharris commented on #69
Is the #github-announce channel integration working in any way/shape/form ATM or are these docs to be reviewed being listed manually until we get integration hooked up?

[2016-01-29 21:10] chrisdickinson commented on #69
Right now the listing will be manual — I believe @distracteddev is working on an integration for the channel.

[2016-01-29 21:24] trevnorris commented on #34
@davepacheco That logic would then need to be properly implemented across any class where that type of race condition can occur. Which, in node, is almost all of them. Instead, simply having a timing mechanism of "run after the call stack has unwound but before the event loop continues" is a simple way to queue callbacks that run asynchronously and prevent that race from occurring.

Also we're not

[2016-01-29 21:44] chrisdickinson opened #72 "Docs WG Meeting #3 - 2016-02-03 @ 10:00AM PST"
This meeting is scheduled for [2016-02-03 @ 10:00AM PST](http://www.timeanddate.com/worldclock/fixedtime.html?msg=Docs+WG+Meeting+%233+-+2016-02-03+%40+10%3A00AM+PST&iso=20160203T10&p1=137), and will be a public-viewable Google Hangout on the Air.

I will place the Google Hangouts link for participants in the **Docs WG Slack**, and link the public URL in this issue.

Minutes will be recorded in a

[2016-01-29 23:11] davepacheco commented on #34
Do you think this problem is unique to core code, where it's possible to perform actions like binding a new file descriptor synchronously as you described in your example?  I've managed to never hit this writing my own code outside of core, but I wouldn't be surprised if this issue only happens when using the internal bindings that core uses.  I'm also not sure what prevents the timing problem you

[2016-01-29 23:26] evanlucas commented on #72
How will we get around the max user limit on hangouts?

[2016-01-30 01:10] rdodev commented on #72
Hangouts "on air" don't have a user limit. Granted most of us will be
"listeners" and can interact via text chat with each other.

On Fri, Jan 29, 2016 at 6:26 PM, Evan Lucas notifications@github.com
wrote:

[2016-01-30 01:16] Knighton910 commented on #72
LGTM :100:

[2016-01-30 04:42] thefourtheye commented on #69
It would be better if only the issues or PRs with doc label are notified in the Slack.

[2016-01-30 06:44] chrisdickinson commented on #69
@thefourtheye Tagged issues and PRs will likely also be included in the github-announce channel. Only announcing labeled items wouldn't be sufficient, however: core PRs _may_ be opened and landed without the `doc` label being added, or being blocked on Docs WG review (this is by design — one of the concerns the CTC expressed was that Docs WG work shouldn't block core work.)

[2016-01-30 07:42] thefourtheye commented on #69
You mean CTC doesn't expect an LGTM from Docs WG to land a doc change?

[2016-01-30 08:08] chrisdickinson commented on #69
@thefourtheye In the context of a PR that is primarily updating code, that is correct. If a PR _only_ contains documentation, or is primarily documentation-focused, the Docs WG is expected to LGTM. We may be cc'd on an code-related PR to take a look at the docs, but we're not to hold up merges on those PRs. This is a compromise, but a workable one: this issue sets up part of the process for review

[2016-01-30 08:12] techjeffharris commented on #72
I work evenings 7 days/week until April, so I'm a bit nocturnal these days, but I should be able to wake up and get some coffee in me by then.. ;)

[2016-01-30 08:13] thefourtheye commented on #69
@chrisdickinson Hmmm okay. What I am worried about is, there may be additional work if something, that doesn't align with Doc WG way of doing things lands then we may have to amend it with another PR. Perhaps we can improve the tools so that the doc changes are linted when `make lint` is done.

[2016-01-30 08:20] thefourtheye commented on #72
@chrisdickinson Does this look right http://www.timeanddate.com/worldclock/fixedtime.html?msg=Docs+WG+Meeting+%233+-+2016-02-03+%40+10%3A00AM+PST&iso=20160203T10&p1=137?

[2016-01-30 08:58] chrisdickinson commented on #69
@thefourtheye Yep — looping doc linting into `make test` is part of the [number :one: task on the proposed `ROADMAP`](https://github.com/nodejs/docs/blob/add-roadmap/ROADMAP.md#subtasks)!

[2016-01-30 09:07] thefourtheye commented on #69
@chrisdickinson Awesome :-) Let me see if I can contribute to that.

[2016-01-30 12:56] ashleygwilliams commented on #72
hey @chrisdickinson there should probably be a policy for who will be an observer vs participant in the call.

additionally: is someone creating an agenda?

[2016-01-31 23:14] chrisdickinson commented on #50
We're ratified!

[2016-01-31 23:14] #50 closed

[2016-01-31 23:18] eljefedelrodeodeljefe commented on #50
very goood!

[2016-01-31 23:49] chrisdickinson commented on #72
@thefourtheye Yep! Thanks — I'll add that to the issue text.

@ashleygwilliams I'll be putting together the agenda from issues labeled `wg-agenda` next week on Tuesday morning PST. Any Docs WG member can label any issue or PR with `wg-agenda`, and if it's labeled before that time, it'll go on the agenda. I'll also do a call for agenda items on Tuesday in the team Slack. Before that point the agend

[2016-01-31 23:54] chrisdickinson commented on #28
Closing this out — the existing guide documentation will live in the website repo until the node docs tool can build non-apidoc content (after which point the website will consume the guide content in the same fashion it consumes the apidoc content now — which also puts needed pressure on finding an i18n solution for the apidocs.)

[2016-01-31 23:54] #28 closed

[2016-01-31 23:55] chrisdickinson commented on #4
These are largely captured in the `GETTING-STARTED.md` guide and the `ROADMAP` process — closing this out now.

[2016-01-31 23:55] #4 closed

[2016-02-01 00:03] chrisdickinson commented on #65
Totally — once we land the ROADMAP (in whatever form it takes) we'll definitely want to circulate it to give interested folks an idea of where we need help!

[2016-02-01 00:09] chrisdickinson commented on #62
/cc'ing @ashleygwilliams and @feross on this — I suspect the Foundation may be able to help out here. We'd likely want to run polls and possibly run recorded UX interviews (e.g., an interviewer asking a developer "Show me how you'd find out how to do XYZ with Node")

[2016-02-01 21:55] trevnorris commented on #34
@davepacheco

One more important usage is in error handling. In conjunction with the ideal of maintaining that all events are asynchronous, it's important that errors are reported before the event loop is allowed to continue.

Say, for example, your interface is working with a data stream. There is an error in the data stream that must be reported. The error passed to the event indicates that the

[2016-02-02 20:12] a0viedo commented on #72
Maybe we could grab the open issues with the [doc label](https://github.com/nodejs/node/pulls?q=is%3Aopen+is%3Apr+label%3Adoc+not+-label%3Astalled+sort%3Acreated-asc) (in reverse chronological order) and see what's holding them back since there are many valuable additions.

[2016-02-02 20:34] chrisdickinson commented on #72
@a0viedo that would be great — would you be available to do that?

[2016-02-02 20:54] Qard commented on #61
I'd like to discuss this in the call tomorrow. Specifically, how to achieve a project-focused build tool rather than single-file-focused and what the migration path for that would look like.

[2016-02-02 22:08] Knighton910 commented on #72
:+1: @a0viedo

[2016-02-02 22:28] a0viedo commented on #72
@chrisdickinson sure, I'll take a look. to add labels to issues should I just ping you or the team? I don't have those permissions at the moment

[2016-02-03 17:57] chrisdickinson commented on #72
OK, a link to the chat & minutes doc has been put in Slack.

[2016-02-03 18:05] benjamingr commented on #72
Sorry, I'm at a conference and won't be able to attend.

[2016-02-03 20:08] MylesBorins opened #73 "Document initialization process"
This issue will be used to track progress on documenting the internal intialization process as listed in the Roadmap (which currently can be found at https://github.com/nodejs/docs/pull/70/)

I believe this documentation should include:
-  what happens when node is run before your code is executed
-  where the globals come from
  -  process
  -  __ values
  -  console
- what is different in the in

[2016-02-03 20:10] DavidTPate opened #74 "docs: Document the Event Loop as it Relates to Node"
This came up in the roadmap with #70 and I volunteered to get some content put together. I've done some local presentations on it for the JS folks in my town. I really enjoyed a talk by [Philip Roberts @ JSConf EU 2014](http://2014.jsconf.eu/speakers/philip-roberts-what-the-heck-is-the-event-loop-anyway.html) something like that could be made more Node-centric and distilled into some GIFs for a pr

[2016-02-03 20:10] MylesBorins opened #75 "Document release process"
This issue will be used to track the status of created a guide to document the internal release process as outlined in the Roadmap (currently found at https://github.com/nodejs/docs/pull/70/)

Currently the doc lives in [docs/releases.md](https://github.com/nodejs/node/blob/master/doc/releases.md)

[2016-02-04 02:46] jrit commented on #74
I see this issue listed on the docs quarterly roadmap along with an overview of "blocking vs non-blocking" and was wondering how you plan to cover this topic without involving the other, and how one would talk about blocking without getting into how the event loop works? I ask just for the sake of planning the topics, I was considering trying to help out on the blocking topic.

[2016-02-04 20:04] davepacheco commented on #34
@trevnorris That example is another case where ordering of events is important, but nextTick() is not strictly required to implement it.  I don't believe it really is simpler to use it.

As for the action items at hand: I've submitted my suggested docs and weighed in a bunch on why, but obviously it's not my decision.

[2016-02-05 00:47] trevnorris commented on #34
@davepacheco So it's easier to implement logic that handles proper event ordering than simply calling `process.nextTick(fn)`?

[2016-02-05 01:26] techjeffharris commented on #74
I started work on this about a week ago and would greatly appreciate feedback!

https://github.com/nodejs/node/pull/4936

[2016-02-05 04:04] jinglish commented on #69
This is my jam.

[2016-02-05 16:30] ryanmurakami opened #76 "docs: Document Timers in Node"
This will track progress on a Documentation Overview of Timers in Node, as suggested in the Docs WG Roadmap for Q1 2016 (#70). Since an understanding of the Event Loop is pretty essential to giving context for timers, I'll be using nodejs/node#4936 as a branching off point to explain how timers work and best usages of the different API functions.

Here are some ideas I have for topics to cover:
Di

[2016-02-05 21:12] stevemao commented on #76
related: #48 #34

[2016-02-07 21:34] feross commented on #62
@chrisdickinson Nice. Thoughts on how to conduct these polls and UX interviews? If there's a concrete proposal from the WG then I think we can take it to the board. Also, if possible, we should try to seek funding/volunteers from the community first, since more community ownership is always better IMO :)

[2016-02-08 00:34] chrisdickinson commented on #76
Excellent! I've added this issue and your name to the roadmap. Thanks!

[2016-02-08 01:51] jrit opened #77 "Create overview for "Blocking vs. non-blocking""
I'm raising my :hand: to write the overview article which was called out in this quarter's roadmap https://github.com/nodejs/docs/pull/70 - I believe my understanding is good enough from previous writing I've done on the topic.

A PR on the event loop is currently open at https://github.com/nodejs/node/pull/4936 and because of the relationship between the event loop and blocking, my plan is to sta

[2016-02-08 02:22] eljefedelrodeodeljefe opened #78 "guides: options (and default) passing patterns"
A common pattern probably in any `node` programming style, is to pass options. Contrary to, say `golang`, it's rather common to pass some `let options = {}`. Especially on OOP `js` I assume this is heavily used for class instance configurations.

However, using plain `js` can sort of make a quick end to this approach, when used with nested objects.

Even though this might be a small guide and patt

[2016-02-08 03:31] chrisdickinson commented on #77
This sounds good to me — I'll add this issue to the roadmap. Thanks!

[2016-02-08 13:54] eljefedelrodeodeljefe commented on #78
The reason, why this is also not proliferated is that it is fairly new in `v8` (Chrome 45) https://bugs.chromium.org/p/v8/issues/detail?id=4007

[2016-02-08 20:25] a0viedo opened #80 "meta: style guide"
This is a continuation of https://github.com/nodejs/docs/pull/79, I've noted that there're a few styles not following (that I know of) explicit conventions.

The ones I could came up with:
- what to use when refering to different values (how to format strings, how to format booleans, etc). Example: the [Buffer docs](https://github.com/nodejs/node/blob/master/doc/api/buffer.markdown) uses `'true'`

[2016-02-08 21:29] dkfiresky opened #81 "[Question] Why there is that gradient background at the bottom of the sidebar?"
![2016-02-08 11 21 07](https://cloud.githubusercontent.com/assets/2175645/12899736/8cba2752-cebb-11e5-85cf-23993209f3bc.png)

I'm sorry, but it looks so ugly...

[2016-02-08 22:23] a0viedo commented on #81
@dkfiresky is that nodejs.org? I think https://github.com/nodejs/nodejs.org is the WG you're looking for. Also might want to include browser info.

[2016-02-08 22:37] stevemao commented on #81
@dkfiresky When you open an issue there, make sure you provide information about:
1. what browser you are using
2. what page you are on
3. any information that we need to be aware
Thanks a lot.

[2016-02-08 22:37] #81 closed

[2016-02-09 04:49] stevemao opened #82 "error docs / guide"
I have been working with streams and I had a lot of trouble handling errors (as you can see I've raised a lot of issues). A lot of error handling guides are scattered across GitHub issues, tweets, blog posts and even joyent website. I want to improve docs/api/errors page. This is probably not on the roadmap, but it's definitely related some of them. It might help to make the direction of stream mo

[2016-02-09 04:58] chrisdickinson commented on #82
/cc'ing @davepacheco, who I understand is the author of the [Joyent error document](https://www.joyent.com/developers/node/design/errors) from which much of the content of the Node errors document is derived, to advise.

[2016-02-09 05:17] stevemao commented on #82
I know people would start arguing (from my research you have fundamentally different views). I have panicked in other threads so I try not to complain :)
Unfortunately this is pretty much the _only_ "official" docs we have :(
I'll write something anyways just to kick it off.

[2016-02-09 05:41] chrisdickinson commented on #82
@stevemao Ah — our views aren't _fundamentally_ different. I think @davepacheco would be an excellent person to consult in order to improve the doc. My first draft of the existing error doc was derived from his original Joyent doc in an attempt to catalogue the common error codes, and his input would be super valuable for the future direction of the document.

[2016-02-09 06:19] stevemao commented on #82
Here's another related issue: https://github.com/groundwater/nodejs-symposiums/pull/5

[2016-02-09 06:23] stevemao commented on #82
@chrisdickinson Why is groundwater/nodejs-symposiums not in the nodejs core docs? I think this is extremely useful and it's actually something I wanna write/see in nodejs docs.

[2016-02-09 08:11] ghost commented on #81
@stevemao why did you closed this issue?
here some info:
1. Safari latest version (I think it's 9) (OS X El Capitan)
2. https://nodejs.org/dist/latest-v5.x/docs/api/
3. On Google Chrome (Windows 7) the gradient is on top of the scrollbars.

[2016-02-09 08:22] stevemao commented on #81
We already said create an issue at https://github.com/nodejs/nodejs.org

[2016-02-09 08:37] ghost commented on #81
But it's related to the docs anyway...

[2016-02-10 12:07] estliberitas commented on #63
I would like to participate. :-)

[2016-02-10 12:12] stevemao commented on #63
+1 @estliberitas :smile:

[2016-02-10 14:12] thefourtheye commented on #63
I myself wanted to recommend @estliberitas :)

[2016-02-11 05:13] ungoldman commented on #10
Looks like every issue in the list linked to above ([node/iojs.org - issues tagged with "docs"](https://github.com/nodejs/iojs.org/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Adocs)) is now closed. Is it safe to assume this issue can be closed too?

[2016-02-11 17:33] davepacheco commented on #82
I'd heard there was some interest in integrating some of the content from the Joyent error handling guide into the Node core docs.  I think it would be great to see that happen.  That document came out of a design discussion with several community members, and we spent a lot of time trying to make sure that document provided appropriate context as well as a holistic discussion, and also that it ma

[2016-02-13 02:07] jinglish commented on #2
Count me in! `joseph dot inglish a gmail dot com`

[2016-02-15 05:47] jinglish commented on #63
I'd love to help out. `joseph dot inglish at gmail dot com`

[2016-02-17 23:00] techjeffharris commented on #74
@jrit I'm imagining the "Introduction to Node.js" document introducing the concept of blocking vs non-blocking breifly (and pointing to the topic/guide for that) just before also briefly describing the event loop (and pointing to the topic for that).  But that's just off the top of my head.

The trick I think is establishing a progressive hierarchy of documents: ~~at the foundation~~ we have the d

[2016-02-17 23:02] techjeffharris commented on #34
Pushed an update to nodejs/node#4936, PTAL

[2016-02-18 01:40] MylesBorins opened #83 "Debugger Guide"
this could be very useful. Perhaps we can build this out as we test and fix the debugger

/cc @Trott

[2016-02-18 17:31] jsatk commented on #83
Thanks @TheAlphaNerd. Agreed.

One issue I struggle with is understanding how to use the `debugger` in a real-world environment. Most of the guides I've found via Google searches have basic and trivial examples that don't map to what a production node app looks like. Especially when tools like grunt and gulp are in the mix. That might be outside of the scope of what this issue would attempt to res

[2016-02-18 18:19] Knighton910 commented on #83
Sounds good. I think it's worth exploring.

[2016-02-20 18:50] techjeffharris commented on #77
Sorry for the delay!  By all means, please do!  :)

[2016-02-20 18:53] eljefedelrodeodeljefe commented on #77
Happening at nodejs/node#5326

[2016-02-23 10:17] mh-cbon opened #85 "clarify options of api/url.html#url_url_format_urlobj"
Hi,

small suggestions before a possible PR,

`host`: it should be noted it expects a string like `host:port`
`auth`: it should be noted it expects a string like `user:password` without b64 encoding

`href`, `path` should be moved down in order to not confuse with `pathname` which is the one that matters.

[2016-02-28 22:06] Qard opened #86 "What is the state of nodejs/doc-tool?"
There have been changes happening to the doctool directly in the https://github.com/nodejs/node/ repo, but there is also a copy of the doctool living at https://github.com/nodejs/doc-tool/ which appears to have been largely abandoned. Should we be copying changes back to the doc-tool repo? Moving development there? Deleting that repo?

[2016-02-28 22:14] kahwee commented on #86
I'm starting to be convinced that the doc tool need to be externalized. What's the context of having the `node_modules` checked into `node` git `tools/doc`?

[2016-03-01 16:28] DavidTPate commented on #74
@techjeffharris That definitely sounds good, establishing a hierarchy of documents to progressively explain more I think would be the best. I'll take a look at your PR and provide any feedback I can.

[2016-03-07 23:03] eljefedelrodeodeljefe opened #87 "api: harmonize personal pronouns"
The use of personal pronouns seems a little inconsistent. The WG could decide on whether or which ones to use and harmonize those. Any english native speakers could give a hint here, maybe there are sites (like wikipedia), who have standardized the use of those.

[2016-03-08 11:39] stevemao commented on #86
ping @nodejs/documentation

@rvagg incase you didn't see this :)

[2016-03-08 11:40] benjamingr commented on #86
This should be brought up at the next meeting. I like the idea of externalizing it better.

[2016-03-08 11:52] eljefedelrodeodeljefe commented on #86
We could follow https://github.com/nodejs/citgm 's very good example

[2016-03-08 18:51] Knighton910 commented on #86
+1 This should be brought up at the next meeting

I agree with @benjamingr this sounds meeting worthy. And i kinda like them where they are.
It seems convenient.
@nodejs/documentation Let's weigh in more thoughts.

[2016-03-08 20:39] chrisdickinson commented on #86
Externalizing it is probably not worthwhile — we're working to replace it with `remark`, which is a public package.

[2016-03-09 09:14] eljefedelrodeodeljefe opened #88 "build: provide guide for compiling node binary with optimizations"
See this discussion https://github.com/nodejs/node/issues/2948

First we would need to collect a list of optimization options and derive some tactics from it. E.g. some configurations won't pass tests.
## Options (WIP)
- (use musl)
- disable `openssl`
- use a shared `zlib`
- no `icu`: `--with-intl=none`
- go wild with `strip`
- compile a 32-bit binary
- (...)

[2016-03-09 09:18] Knighton910 commented on #88
:+1: good start.

[2016-03-09 17:59] eljefedelrodeodeljefe commented on #88
Dragging in @TheAlphaNerd here: How open (or secretive) is the release building process? Is it even part of the tasks of the release group or does jenkins do it all?
I think it might be interesting to add this here, as it could also aid testing. E.g. I still don't know how to properly build on windows, so I can test or alter `.msi`s or build with some of the optimizations. Release building could b

[2016-03-09 18:03] MylesBorins commented on #88
The release process is all public :smile:

https://github.com/nodejs/node/blob/master/doc/releases.md

But I think there is now limited access to the release CI

[2016-03-09 18:07] eljefedelrodeodeljefe commented on #88
Ah. Thanks for pointing at it. Haven't found what I was looking for though :)

[2016-03-11 21:27] benjamingr opened #89 "Order of events in the process docs"
Hey, I noticed events in the process docs (at https://nodejs.org/api/process.html ) are ordered alphabetically. In my opinion it makes more sense to put related events - namely `unhandledRejection` and `rejectionHandled` - one above the other. It would improve discoverability.

I just wanted to bring this up before making a pull request to know if anyone has any strong objections to it.

[2016-03-11 21:29] MylesBorins commented on #89
there was a move not too long ago to alphabetize the docs

Your point is not unreasonable though... there is a lot of value to keep similar cognitive things close to each other. This could be a big churn though to do across the entire docs, and tougher to maintain than simply alphabetized.

I'm open to the idea though

[2016-03-12 04:33] chrisdickinson commented on #89
It might best to solve this as a "process promise events" overview doc that links into the reference docs (vs. rearranging the reference docs again.)

[2016-03-12 21:25] claudiorodriguez opened #90 "Dash vs colon on style guide"
Going off https://github.com/nodejs/node/pull/5677 and https://github.com/nodejs/node/issues/5672 I think it might be a good idea to add an item to the style guide clarifying where to use colons as opposed to dashes, e.g. colons to separate argument name and type from description, etc.

P.S: I mean the specific instances where we could draw a definite standard - the one that comes to mind is enume

[2016-03-13 03:33] Qard commented on #89
I'm leaning towards leaving the docs as they are and, as @chrisdickinson said, use guides to point people in the right direction. One could make a similar ordering argument about streams docs, putting `data` after `close` and such, but that's really more indicative of a need for a guide rather than reordering of the reference.

[2016-03-13 08:28] benjamingr commented on #89
I tend to agree - what about a "using promises with Node" guide that covers _only_ the caveats, the events and so on?

(That is, not a promises tutorial - just a "this is how you'd use promises in NodeJS" with mentions of the events)

[2016-03-13 10:10] svozza commented on #87
I think consistency is key. As someone new to contributing doc fixes, I found it confusing that in [two](https://github.com/nodejs/docs/blob/afad13a9babaf2e2e36fe410a5564d2de228beca/CONTRIBUTING.md#code-of-conduct) [separate](https://github.com/nodejs/docs/blob/master/STYLE-GUIDE.md) places the use of personal pronouns are discouraged yet the API references are littered with them.

The problem wit

[2016-03-13 10:13] benjamingr commented on #87
I think that as long as we avoid pronouns terms that exclude people it's fine to use them inconsistently - it has never bothered me before.

[2016-03-13 10:16] chrisdickinson commented on #87
The use of pronouns is covered in the style guide in this repo (https://github.com/nodejs/docs/blob/master/STYLE-GUIDE.md). Nonconforming reference docs should be updated to reflect the style guide as issues come up.

[2016-03-13 10:55] eljefedelrodeodeljefe commented on #87
Good hint. Shall we have this as "good first contribution" issue in the main repo?

[2016-03-13 13:11] benjamingr opened #91 "Edit in GitHub"
Addressing https://github.com/nodejs/node/pull/4129 which has been open for a while now.

Do we want an "Edit on GitHub" button or not?

[2016-03-13 13:26] eljefedelrodeodeljefe commented on #91
Having heard of this for the first time, I'd initially say yes. Reading up on the ticket I agree to Ben though.

[2016-03-13 13:38] benjamingr commented on #91
Yeah, I'm also -1 on this.

[2016-03-13 22:35] Knighton910 commented on #91
`-1`

[2016-03-16 08:07] girishla opened #92 "Docs seem to get truncated when viewing on the iPhone"
Not sure if this is the right place to create this issue but Docs seem to get truncated when viewing on the iPhone
iOS version 9.2.1

[2016-03-16 09:00] eljefedelrodeodeljefe commented on #92
Can you send in a screenshot?

[2016-03-16 09:07] girishla commented on #92
The "Event:error" line is the last I can see in this page. It doesn't allow me to scroll any further. I've tried on Chrome and Safari on multiple iphones. Same behaviour.

![img_0145](https://cloud.githubusercontent.com/assets/10451063/13806896/4a5ce1f8-eb56-11e5-85e6-28c4734ed9ef.PNG)

[2016-03-16 09:15] eljefedelrodeodeljefe commented on #92
Interesting. Couldn't reproduce with with chrome's window size emulator, but will check it back at work against some devices.

[2016-03-16 09:21] eljefedelrodeodeljefe commented on #92
Okay, this is reproduceable on saucelabs. I'll gather some more information and open a ticket on the main repo. Will close it then here. Good call @girishla

[2016-03-16 09:22] girishla commented on #92
Great, ta

[2016-03-16 09:23] girishla commented on #92
will let you close this when appropriate.

[2016-03-16 09:32] eljefedelrodeodeljefe opened #93 "doc: automated surface testing"
@mikeal, @chrisdickinson: I wanted to push forward some automated, selenium based testing for the docs (not sure this is living somewhere else already). Is it possible to register at [saucelabs](https://saucelabs.com/opensauce/) or [browserstack](https://www.browserstack.com/pricing) free for open source? I'd start by running some easy screen grabs generated by some script.

This issue would then

[2016-03-16 09:47] benjamingr commented on #92
They're scrollable to the right and behave exactly like code comments in GitHub and StackOverflow. I think the current behavior is fine.

[2016-03-16 09:48] eljefedelrodeodeljefe commented on #92
Nah, he doesn't mean the codeblocks, but that you can't scroll past a certain point.

iOS 9.2, iPhone 6, process.html https://saucelabs.com/beta/tests/e2c86c418a5646bab619e9c4b4e2a6c7/watch
iOS 8.4, iPhone 6, stream.html https://saucelabs.com/beta/tests/fdc9c31581a24841bd8688555374f7f9/watch
iOS 9.2, iPhone 6, stream.html https://saucelabs.com/beta/tests/9e1d5547403b4ffd9f4f01ff9bf4d968/watch

[2016-03-16 09:49] benjamingr commented on #93
Browserstack is free for open source, usually they ask you to place a link saying that the site is tested with browserstack at the readme or the site - for Node I'm sure any mention would do.

I can email the person who gave us the free account for bluebird and ask.

[2016-03-16 09:52] eljefedelrodeodeljefe commented on #93
Both are. Ideally we had both. They require to register, which I wanted to be done by one official representative.

[2016-03-16 09:58] benjamingr commented on #92
I tested on a real device and I can scroll all the way down - when I reach code blocks I have to stop scrolling and then resume it from a point that is not in the code block which is annoying.

I think this happens because the scrolling gets "stuck" on the code block - we can fix this by listening to the scroll event and handling this case.

[2016-03-16 10:15] eljefedelrodeodeljefe commented on #92
Could you be more precise please. Hardware, OS, Page? Because it's very easy to reproduce the faulty behaviour at sauce labs tbh.

[2016-03-16 10:38] benjamingr commented on #92
Sure - It's faulty, but I can scroll down. This is a real iPhone 6 with iOS 9.2 (haven't upgraded since).

[2016-03-16 12:04] stevemao commented on #92
I never had good experience viewing docs on my phone and I gave up... If there is any good third party docs viewer we could probably learn from it.

[2016-03-16 17:34] stevemao commented on #93
@eljefedelrodeodeljefe Any reason why we need both?

[2016-03-19 19:44] jrit commented on #77
landed in https://github.com/nodejs/node/commit/5f1eb434ee750abbd18a25d3b978eb8828f6d1dc

[2016-03-19 19:44] #77 closed

[2016-03-19 20:00] jrit commented on #93
@eljefedelrodeodeljefe is there an open list of items to validate there? I'm looking into adding accessibility validation ref https://github.com/nodejs/nodejs.org/issues/552 so tying onto browserstack could make more sense than a dependency on Phantom

[2016-03-23 09:57] eljefedelrodeodeljefe commented on #92
Closed in favor for nodejs/node#5861 Thanks for reporting!

[2016-03-23 09:57] #92 closed

[2016-03-23 10:12] girishla commented on #92
Thanks for fixing!

[2016-03-23 17:51] #91 closed

[2016-03-23 18:07] Knighton910 commented on #92
+1

[2016-03-30 00:34] #52 closed

[2016-03-30 16:20] eljefedelrodeodeljefe commented on #93
@stevemao jsut for the freedom of choice for the one person implementing it and maybe to mitigate expectations of those companies to land their logo on the website (dunno?)

@jrit no plans yet, but let's head over to nodejs/node#5955 and collect some ideas

[2016-04-02 13:12] wheresrhys opened #94 "Document `GLOBAL` or deprecate with warning."
The docs only mention lowercase `global` https://nodejs.org/api/globals.html#globals_global, despite `GLOBAL` also being an alias for it.

It seems like React or webpack, or some plugin, [doesn't support use of `GLOBAL`](https://github.com/wheresrhys/fetch-mock/issues/79), which they can be forgiven for doing given that it's not documented.

What is the status of `GLOBAL`? Is it deprecated (and th

[2016-04-02 14:31] evanlucas commented on #94
Hi @wheresrhys. Thanks for opening the issue. As of now, `GLOBAL` is deprecated on the master branch (https://github.com/nodejs/node/blob/master/lib/internal/bootstrap_node.js#L215-L232). At this point, I do not believe it should be documented as it will be removed in the future.

Thanks!

[2016-04-02 14:31] #94 closed

[2016-04-02 16:35] wheresrhys commented on #94
Thanks for the answer. IMHO I still think it wouldn't do any harm to document it as deprecated, but good to see you're going to start emitting warnings soon.

[2016-04-05 23:18] stevemao commented on #82
It'll be a very good start :) instead of a guide, it should be a rule because if streams handle error differently, they can't work together well. People should be enforced and educated to follow the same convention.

[2016-04-07 07:32] benjamingr commented on #82
There is a fundamental disagreement inside Core about how errors should be handled. I for example disagree with the "recommended" error handling in that blog post and find it extremely irresponsible and risky to run servers doing it. Others feel the same way about the flow I use.

I'm fine with a solution that lets both sides express their views.

[2016-04-07 13:45] stevemao commented on #82
That's what I'm saying. I met @rvagg in person and expressed the feeling. He's pretty confident that there will be a solution soon :) Current situation is a bit unfortunate.

[2016-04-07 16:40] MylesBorins opened #95 "CI job to build / host docs"
When people submit changes such as https://github.com/nodejs/node/pull/6100 for broken links it would be really great if we could run a CI job to quickly build the docs and host them. This would speed up the process of multiple reviewers, and allow people to review without having to build the docs locally

[2016-04-07 17:03] eljefedelrodeodeljefe commented on #82
@benjamingr what exactly is your take on it? Since I find the article very educated, presenting options though a little biased (I like restify, sorry).

@bcantrill what was your opinion about this? Likely the article?

Concerning streams: Can't something as simple as the following just go into the docs into the stream.md? Basically saying: handle stream like so, and for broader discussion about er

[2016-04-07 21:32] bcantrill commented on #82
Yes, my opinion on this was to show agreement with the article, as it very much reflects our experiences running critical node.js-based services in production.  I'll apologize for a bit of a drive-by in terms of thumbs-downing @benjamingr's comment, but I take (strong) issue with the characterization of the article as "extremely irresponsible" and "risky" -- especially without any more specific de

[2016-04-08 07:00] stevemao commented on #95
In my own repo, https://github.com/stevemao/awesome-git-addons, there are two bots hit me:
- https://github.com/dkhamsing/awesome_bot
- https://github.com/dkhamsing/frankenstein

issues:
- https://github.com/stevemao/awesome-git-addons/issues/5
- https://github.com/stevemao/awesome-git-addons/pull/4

`frankenstein` can open a pull request to update README links based on HTTP redirects
`awesome_bot

[2016-04-08 23:37] kahwee commented on #95
Is this a generic bot to build docs rather than just for checking if the links are valid?

[2016-04-10 12:57] eljefedelrodeodeljefe commented on #72
Closing. Meeting was done. New meeting imminent.

[2016-04-10 12:57] #72 closed

[2016-04-10 13:01] eljefedelrodeodeljefe opened #96 "Docs WG Meeting #4 - 2016-##-## @ 10:00AM PST"
This issue (for now) serves as kick-off for a new meeting scheduled by @chrisdickinson. I wanted to open it to collect issues tagged with label [wg-agenda](https://github.com/nodejs/docs/labels/wg-agenda) or otherwise noted below.
# Docs WG Meeting `#4` 2016-##-
## Present
### In-meeting
### In-chat
## Agenda
- Docs WG Sign-up Round `#2` #63 and related...
- notes: handle increasing amounts of not

[2016-04-10 13:05] eljefedelrodeodeljefe opened #97 "guides: status of guides"
What's the progress of guides as the global issue so far?

[2016-04-10 13:10] eljefedelrodeodeljefe opened #98 "notes: handle increasing amounts of notes (that are very specific)"
cc @benjamingr

We are seeing a lot of platform specific notes or refinement of docs (primarily additions) that reason about platform specific behaviours of methods. This might be too much for newcomers to `node`. In order to handle this we should
1. have a policy for that
2. ease this technically (e.g. by having added dimension of collapsable html)

[2016-04-10 13:13] eljefedelrodeodeljefe commented on #63
This can be closed, right? @estliberitas have you been added already? If not let's proceed with a PR.

[2016-04-10 13:15] eljefedelrodeodeljefe commented on #82
Calling for this to be on the agenda of the next docs-wg meeting with a priority.

[2016-04-10 13:22] stevemao commented on #63
@eljefedelrodeodeljefe I don't think any new members are added.

[2016-04-10 13:23] eljefedelrodeodeljefe commented on #63
Hmm, okay. Then I reopen this, sorry.

[2016-04-10 13:35] stevemao commented on #82
I don't disagree what @benjamingr said. In fact, from the tweets & github issues I have linked across related issues, a lot of people are doing that. I guess there are a few things need to be done before we could reach an agreement here. Promise and whatwg streams API for example, don't comply to Joyent error document.

[2016-04-10 15:13] estliberitas commented on #63
@eljefedelrodeodeljefe not yet

[2016-04-10 15:15] estliberitas commented on #63
@eljefedelrodeodeljefe making PR

[2016-04-10 16:45] benjamingr commented on #82
You can thumbs down me all you want @bcantrill I don't mind. What I do mind, is terms like "naïveté" when describing someone else's experiences - that is unacceptable in a discussion here or anywhere else in the Node org. I don't take personal offense in case that concerns you and of course you're welcome to disagree with me respectfully as much as you'd like. Let's please keep the discussion resp

[2016-04-10 16:51] benjamingr commented on #82
@eljefedelrodeodeljefe it's not as much the fact I disagree with it (see my comment above) it's more the fact I'm hardly alone, and I can name at least another collaborator or two who disagree with several things from that article. Even if I suddenly change my opinion and everyone agrees with it in nodejs/cods it'll have to reach the CTC to be actually merged in Joyent/node because it won't reach

[2016-04-10 16:58] benjamingr commented on #96
It would be nice if we could discuss https://github.com/nodejs/docs/issues/98

[2016-04-10 17:00] benjamingr commented on #98
I think easing it technically is good.

I think the notes themselves are definitely a welcome and important addition, I think we should collapse them sans the first sentence by default. Other than placing them with `[1]`s and so on in the footer (which I think we'd rather avoid) I have no other ideas.

[2016-04-10 18:06] eljefedelrodeodeljefe commented on #98
Ah, with notes I rather meant `_NOTE: text here_` blocks.

[2016-04-10 18:48] Knighton910 commented on #96
+1 on this meeting 🎱

[2016-04-10 19:04] davepacheco commented on #82
For what it's worth, I think this is a misrepresentation (or misunderstanding) of the Joyent Error Handling document.  Yes, it advocates not handling programmer errors, and that means that if a server fails to validate input, it may crash.  But it also explains that clients must handle the operational error represented by that server crash, which mitigates the impact.  The document goes further, a

[2016-04-10 20:24] Knighton910 commented on #82
+1

[2016-04-11 08:26] benjamingr commented on #82
@davepacheco

Well, it says:

And then

Then:

Now let's say I'm a small company learning Node and reading the docs for the first time. All I have is a service serving REST for my mobile app on top of Mongo. Let's say I'm exceptionally overpowered and I have a two quad core machines running Node behind nginx and I have a load balancer and I'm taking core dumps on every error. Let's say there is a

[2016-04-11 09:19] benjamingr commented on #98
Yeah, me too.

[2016-04-11 19:12] Qard commented on #96
It'd be good to figure out where the doc tool stuff is at. I did a bit of work on that and then got too busy to continue, @kahwee also did some work in https://github.com/nodejs/node/pull/5408, but it appears to have stalled.

[2016-04-12 03:16] kahwee commented on #96
I feel bad about that, got too busy at work. I've got some time off this week from work and will try correcting that.

[2016-04-12 16:00] davepacheco commented on #82
@benjamingr Thanks for that context.  That's very informative.

The situation I've run into a few times is similar, but where the uncaught exception was thrown after the Node program had already made a database query that took locks inside the database.  Someone had added an uncaughtException handler to the program to avoid precisely the problem you described.  But in the face of that exception, t

[2016-04-12 16:23] benjamingr commented on #82
That's a very helpful example, thanks. I 100% agree that in this case you must `throw` and restart the server - in fact, we [do this ourselves](http://bluebirdjs.com/docs/api/disposer.html#note-about-disposers-in-node) in `Promise.using` in bluebird - if you fail to dispose a resource you _have_ to crash fast. I think official error docs _must_ mention this fact in them. This is however not a gene

[2016-04-15 21:12] a0viedo commented on #48
See https://github.com/nodejs/node/pull/5830 and https://github.com/nodejs/node/pull/5837 for reference

[2016-04-18 18:37] techjeffharris opened #100 "add "recommended reading" sections to docs"
I would like to discuss the pros/cons of having a list of "recommended reading" items at the beginning of a higher-level reference (such as HTTP or Streams) that presents folks with concepts/APIs with which familiarity is recommended to better understand the current document.  HTTP, for example, is a high-level core-module that orchestrates many lower-level core modules:
- `EventEmitter`
- `Buffer

[2016-04-18 18:54] eljefedelrodeodeljefe commented on #100
👍  on the idea. Recommended reading within our docs/guides or external also?

[2016-04-18 19:03] techjeffharris commented on #100
Definitely links to internal content, and perhaps links to reliable external sources such as MDN References.

[2016-04-18 19:14] benjamingr commented on #100
I don't think it should be per module via "recommended reading". I think inlining them in the introductory section by making every new reference a link (a-la-wikipedia) would be really useful though.

[2016-04-18 19:15] eljefedelrodeodeljefe opened #101 "doc: Revisit ES5 / ES6 / ecma next toggle for the API or having ES6 guide/topic"
As per discussion on https://github.com/nodejs/node/pull/6203 and PR https://github.com/nodejs/node/pull/4915 we should have such a feature / content on the agenda again.

Churn might be actually welcomed...

[2016-04-18 19:16] eljefedelrodeodeljefe commented on #96
ping @chrisdickinson

[2016-04-18 19:32] techjeffharris commented on #100
You would rather the references be integrated in plain English in the introduction, rather than in a list format, correct?

Sounds to me like you're proposing that we be more liberal with links to external sources like wikipedia, MDN, in addition to internal content, yes?

[2016-04-18 20:18] Knighton910 commented on #100
+1 from this guy.

[2016-04-18 20:25] Knighton910 commented on #101
+1

#

cc @nodejs/documentation

[2016-04-18 23:26] stevemao commented on #101
I thought we already made a decision?

from @chrisdickinson

[2016-04-18 23:29] eljefedelrodeodeljefe commented on #101
Can't remember, but somewhere somewhen we rather said to discuss it again. Not sure... if this dies off quick, I am good. However we should find a good solution for problems like in the linked issue.

[2016-04-18 23:33] stevemao commented on #101
I think we should discuss "what's the better way of resolving it". Maybe we should fix https://github.com/nodejs/nodejs.org/pull/434 ASAP (blaming myself)

[2016-04-20 18:28] estliberitas commented on #100
Agree w/ @benjamingr - it should be some kind of introductory overview pointing people to exact documentation pages or sections in this pages, it makes more sense for anyone who is just starting developing with Node.

And agree about external links. Since we already do it in doc pages (links to man pages or general JS objects like `Error`), we can continue pointing people to stuff like MDN, linux.

[2016-04-20 22:24] kahwee commented on #101
Once node v6 is released, we just have to deal with v5 and v6, both have ES6 enabled by default anyway. Wouldn't just displaying the docs in ES6 be sufficient?

[2016-04-20 22:28] eljefedelrodeodeljefe commented on #101
It's a matter of style and teaching rather than what we support I fear. I guess core and a lot of people (including me) are prefering `Class.prototype.method` syntax over es6 `class`. Not only that, but also we would have lots of old SO questions and tutorials out there in es5. New users won't really see the change and might be mislead or plainly don't understand what is presented.

[2016-04-20 22:29] jasnell commented on #101
slight correction, once v6 is out it will be v4 and v6, there shouldn't be any reason to keep v5 docs up.

[2016-04-20 23:33] kahwee commented on #101
@eljefedelrodeodeljefe Are you intending this to be for v4 as well? Or just v6.

[2016-04-21 07:40] eljefedelrodeodeljefe commented on #101
Well the idea would be to track ECMA not node versioning. Obviously going forward we would have to wait node / v8 to catch up to certain features before we can employ them in examples. But the gist would be: the community decides on a certain style for a major version of ECMAScript (es6: `let`, `const`, no classes; es7: `class`, `async/await`) and this then will be in there forever. Until, say, ES

[2016-04-21 07:59] kahwee commented on #101
Most beginner users probably don't care about ECMAScript 5, 6 or 7, they just want to know the recommended practice in nodejs v4 or v6 without using additional command-line options. Introducing too many concepts may confuse them instead of help them.

Even if we split things by ES5, ES6 and ES7, we still face varying amount of implementation of ES6 in the V8 engine as seen [here](http://node.green

[2016-04-21 08:56] benjamingr commented on #100
@techjeffharris

No, I meant to use the same strategy used by wikipedia where terms are linked inline the first time they appear on the page.

[2016-04-21 12:57] stevemao commented on #101
I think this should be closed because of
https://github.com/nodejs/nodejs.org/issues/671#issuecomment-212653829

[2016-04-21 14:17] eljefedelrodeodeljefe commented on #101
@stevemao they touch different topics. This here would touch every inline example in the API.

[2016-04-21 14:35] stevemao commented on #101
I understand. But do you think this should be centralised on one page?
The reason why there is a centralised page talking about es next is because we don't want to mention it repeatedly in different examples.
Even though API and the rest of the website are two different projects, the idea is similar so we should point people to the same page (node.green)?

[2016-04-21 17:21] chrisdickinson commented on #101
If we're moving examples _universally_ to ES6, that is probably OK. With regards to a split ES5/ES6 example solution, I think the prior resolution holds — that's too much work to maintain, roughly doubling the number of examples.

[2016-04-28 00:39] kahwee opened #102 "Remove usernames in documentation"
Can we standardize on the file paths in the documentation?

Surfaced by [this issue](https://github.com/nodejs/node/issues/6431), we have `/Users/mjr` in [Global Objects]() being used as the directory.

Other instances:
- `/Users/maciej` in [process](https://nodejs.org/api/process.html)
- `/home/indutny/Code/git/indutny/` in [debugger](https://nodejs.org/api/debugger.html)
- `/home/gbusey/` in [er

[2016-04-28 02:27] a0viedo commented on #101
I'm in favor of moving examples to ES6 👍

[2016-04-28 04:26] benjamingr commented on #102
I kind of like the fact real usernames are used and the users don't mind.

Any concrete reason for this? I tend to be -1 on it as it creates some work but doesn't really save any

[2016-04-28 07:12] estliberitas commented on #102
-1 for the same reason as @benjamingr

I think, users usually find it more friendly when near-real paths, names and data is used in examples. Helps to project usage of APIs on their cases.

But, same time, I think, if it's a new doc, we better use generic path like @kahwee suggests. Just because it's generic i.e. universal case.

[2016-04-28 07:30] estliberitas commented on #101
+1 to ES6-only examples - less work for us. More and more newcomers see examples in ES6 in different sites. Though, this way we'd force people to learn it in some way. Depends on how people see it - annoying or informative. I think, this way we help them to adjust to ES6 standard.

[2016-04-28 17:22] trevnorris opened #103 "[debugger] incorrect information about connecting to process"
In the debugger docs, under "Advanced Usage" it states:

This implies that one must start with the `--debugger` flag or signal using `SIGUSR1` before it's possible to connect to the process using the debugger. This is in fact false when it comes to connecting to the process via pid. It's possible to connect to any node process, at least back to v4.

The docs should be changed to mention that it's

[2016-04-28 17:40] trevnorris commented on #83
@jsatk May also be useful to include documentation on debugging w/ `gdb` or similar. Say there's a lot of external memory allocations, if they're generated in JS then node's debugger is enough. But if they come from, say, an incoming connection, then it's useful to do something like `rbreak node::Buffer::New.*` and get the stack. e.g.

[code]

Here we can see that the call to create the Buffer ori

[2016-04-29 11:52] benjamingr commented on #96
Ping @chrisdickinson

[2016-04-29 16:40] mscdex commented on #102
IMHO I think if we're going to stay with home directories, it's best to at least make the paths consistent, with my preference being `/home/...` instead of `/Users/...`.

I also think that using `/home/user` is better than `/home/<specific username>` since it is less confusing but is still equivalent in intent.

[2016-04-29 16:42] eljefedelrodeodeljefe commented on #102
I am in support of @mscdex's proposal.

[2016-05-04 15:49] ryanmurakami commented on #76
Opened a PR for the first draft: nodejs/nodejs.org#718

Also, not really sure if this is the right place to drop this guide? One of the other guides was created as a topic and dropped in node core. Let me know if this isn't the best place. Thanks!

[2016-05-10 00:46] Dzenly opened #104 "ChildProcess.unref() documentation is absent."
The unref() function of the ChildProcess class is mentioned here and there in the child_process documentation (https://nodejs.org/dist/latest-v6.x/docs/api/child_process.html#child_process_class_childprocess). But there is not a separate description of this function, so child.unref() is absent in the table of contents.

[2016-05-10 16:08] claytongulick opened #105 "Readable Stream pipe documentation misleading"
In the docs, the documentation for pipe says:

[code]

This is a bit misleading and it looks like has lead to some confusion around the internet.

Implies that the internal buffer is drained immediately on pipe() and the data forwarded to the destination. In fact, more than one site around the internet says this exact thing. Reviewing the streams source code, this doesn't appear to be technically

[2016-05-11 01:18] addaleax commented on #105
Do you have a concrete suggestion for improvements, e.g. something along the lines of “This method watches a readable stream for data”? If so, you can definitely create a PR at [nodejs/node](https://github.com/nodejs/node).

[2016-05-13 18:49] CalvinHartwell opened #106 "Official documentation: piping curl to shell for installation"
This has probably been mentioned before, but I believe this is pretty bad practice ([https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora](https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora))

curl --silent --location https://rpm.nodesource.com/setup_4.x | bash -

To completely understand why it is bad practice, please see this:

[https://www.seancas

[2016-05-13 19:32] bnoordhuis commented on #106
You may want to elaborate on why you think that is a proper fix.

[2016-05-13 21:36] sam-github commented on #104
Agreed, should be documented.

[2016-05-13 21:42] eljefedelrodeodeljefe commented on #104
Do you care for a PR? I agree.

[2016-05-13 21:56] eljefedelrodeodeljefe commented on #106
Hi Calvin,

This was discussed in many ways and I think once you look at the script (and you should or at least trust the source) it should be alright. Consider this [link from reddit of some days ago](https://www.reddit.com/r/node/comments/4i6cor/is_nodesource_crazy/) where you see a lively discussion. Since there are plenty of alternatives and also problems with external package managers on the

[2016-05-13 21:56] #106 closed

[2016-05-14 01:29] CalvinHartwell commented on #106
Sorry I was blunt, I should really have explained it better.

I believe the scenario described in this link is actually present in the script: [https://www.seancassidy.me/dont-pipe-to-your-shell.html](https://www.seancassidy.me/dont-pipe-to-your-shell.html)

RPM_TMP=$(mktemp || bail)
exec_cmd "rm -f '${RPM_TMP}'

So, if the connection is closed mid stream, you could remove some things accidentally

[2016-05-14 01:32] Dzenly commented on #104
I feel some enthusiasm and I have some time, but I don't have a crystal-clear understanding what exactly does unref() do.

Doc says:

uv.h contains such a comment:

So I have a question:
What is the "reference count of the child" in parent process and how it affects event loops and IPC?

I will try to get this info from somewhere, any links/hints are appreciated.

P.S. I will not be offended if so

[2016-05-14 08:24] eljefedelrodeodeljefe commented on #106
Can you take this to https://github.com/nodesource/distributions as described in the script? The points are valid, Let's see if the guys from nodesource want to include it. Maybe they have some insight about this already.

[2016-05-14 08:43] bnoordhuis commented on #104
@Dzenly Libuv (and therefore node) has a concept of 'handles'.  Handles represents things like timers, TCP sockets, IPC channels, child processes, etc.

Libuv keeps polling for events as long as there are active handles.  But sometimes, you want events for a handle but you don't want it to keep the event loop alive when everything else has already quit.  That's when you unref it (and ref it again

[2016-05-14 12:49] CalvinHartwell commented on #106
Sure thing - I will do that now, thanks for the quick replies!

[2016-05-15 05:23] Dzenly commented on #104
Ok, I planning to add such text to the doc:

[code]

I would like to add more info.
Say, am I understand correctly that unref() function exists only in ChildProcess object, returned by spawn().
Other child_process methods (especially synchronous ones) do not add ability to unref() child.
Is it true and is it by design?

Also, I don't know workflow how to spread changes in docs to all affected vers

[2016-05-15 13:13] rvagg commented on #106
Cross-porting part of my response from the issue opened over at nodesource/distributions because we have to deal with complaints about `curl|bash` on a regular basis, for various reasons; this particular one is new(ish) and not so much about security as per usual, but the response is still the same:

i.e. to paraphrase the sentiment: you don't have to use it if you don't like it, and we're not goi

[2016-05-16 02:58] Dzenly commented on #104
I made a PR with the text mentioned above.
When I will have answers on the questions above, I will made another PR to improve the doc.

[2016-05-16 05:58] bnoordhuis commented on #104
Correct.  What would the point of a .unref() method be for spawnSync() or execSync()?

Target the master branch.  The person who lands it will make sure it gets back-ported to the right branches by tagging it appropriately (e.g. lts-watch-v4.x.)

[2016-05-16 07:42] Dzenly commented on #104
I am not sure about the point of presense unref() method for spawnSync()'s child.
I had only misty thoughs about ProcessA which creates ProcessB by spawnSync(), then ProcessB creates
ProcessC via spawn(), detached and unreferenced, and then, ProcessA should .ref() ProcessC().
This is some draft thought, forget it.

But there could be a point for mentioning this in documentation.
The "Sync" suffix

[2016-05-31 17:09] benjamingr commented on #96
ping @chrisdickinson

[2016-06-26 05:10] joepie91 opened #107 "Documentation recommends readline for splitting a file into lines"
After seeing two #Node.js users in two days trying to work the `readline` module into a file processing pipeline (that required splitting the file into lines), I inquired what made them pick this solution, rather than eg. piping a ReadableStream through the `split` module. As it turns out, they were working from [this example code](https://nodejs.org/api/readline.html#readline_example_read_file_st

[2016-07-01 17:04] Fishrock123 commented on #76
The PR landed at https://github.com/nodejs/node/pull/6825 🎉

[2016-07-01 23:56] Knighton910 commented on #76
awesome 😄

[2016-07-02 01:00] stevemao commented on #76
Can we close this?

[2016-07-02 01:23] Knighton910 commented on #76
the issue has landed, i don't see why not. Plus we need a pr to update the `docs` Roadmap on this

##

@stevemao do you want to make that `PR` or should i?

[2016-07-02 01:27] stevemao commented on #76
#108

[2016-07-02 01:38] ryanmurakami commented on #76
@lordKnighton @stevemao Thanks guys! Also, the event loop guide has been completed & merged as well by @techjeffharris. You can probably remove that line from the Roadmap also.

[2016-07-02 01:39] Knighton910 commented on #76
Cool 🎱  again though, awesome work.

[2016-07-02 02:08] stevemao commented on #76
PR is updated :)

[2016-07-02 02:09] stevemao commented on #63
This can probably be closed now :)

@eljefedelrodeodeljefe ?

[2016-07-02 02:12] #76 closed

[2016-08-01 02:01] zeronone opened #109 "Node v6.3.1 docs: net.Socket"
I am looking at the documentation of `net.Socket` in node v6.3.1.

It says:

The last line in the documentation mentions about the possibility of data loss. As far as I know, streams3 streams starts with a paused state. So there shouldn't be any data flowing until the first 'data' listener is attached. Is there any exception for net.Socket or am I miss-understanding something.

[2016-08-23 22:07] Starefossen opened #110 "StackOverflow Documentation for Node.js"
I could not find any discussion about this topic on this issue tracker nor in any other issue tracker on the nodejs org for that matter, so I'll post it here (I hope that's ok with everyone) ⭐

StackOverflow [announced July 2016](https://blog.stackoverflow.com/2016/07/introducing-stack-overflow-documentation-beta/) the public beta for their [Documentation site](http://stackoverflow.com/tour/docume

[2016-08-23 23:30] Qard commented on #110
@mikeal brought it up recently. I've lost track of the issue that happened in though.

cc @nodejs/documentation

[2016-08-24 14:22] benjamingr commented on #110
I don't mind undertaking maintaining this, I'm an [active SO user](http://stackoverflow.com/users/1348195/benjamin-gruenbaum) and a docs WG member.

The problem is that I'll only have time to deal with this in November.

[2016-09-11 19:18] kahwee commented on #110
I can help with this too. We did bring this up on the Slack chat as well.

[2016-09-11 19:21] kahwee commented on #110
How should we deal with documentation efforts specific for user land modules?

For example, I see this for [grunt](http://stackoverflow.com/documentation/node.js/6059/grunt#t=201609111920009287785)

Grunt seems like it could be its own big topic itself.

[2016-09-19 12:08] joepie91 opened #111 "Circular reference for OS Constants"
As reported on IRC:

[code]

([Clickable link](https://nodejs.org/dist/latest-v6.x/docs/api/os.html#os_os_constants))

[2016-09-19 12:09] eljefedelrodeodeljefe commented on #111
That is a little quirky, yes. @jasnell without looking at it, that was probably yours? Shall we remove it?

[2016-09-19 12:26] addaleax commented on #111
It’s just a broken link, the link should in the `os.html#os_os_constants` should point to `os.html#os_os_constants_1`. @joepie91 Do you want to open a PR with that at nodejs/node?

[2016-09-23 10:41] watilde commented on #11
@nodejs/nodejs-ja also started having a discussion about this. Like the GNU gettext way, it would be nice if we have the translated API docs as a separated repo and require them from core/website, but we still couldn't integrate it into them with something tools since we don't have the way yet.

[2016-10-19 16:58] snollygolly commented on #87
I'm happy to take a crack at this.  Before I do, is this still something that needs to be done?

[2016-10-30 09:26] fresheneesz opened #112 "http ClientRequest documentation unclear about inheritance when visually scanning"
Make it clearer upfront when an object inherits fields from another. I just spent 20 minutes trying to find the docs about an http request object, only to eventually find a small unassuming note that ClientRequest inherits from IncommingMessage. Docs shouldn't be written assuming you're reading them in their entirety. People look for one specific thing in the docs, never read them from start to fi

[2016-10-31 22:32] stevemao commented on #112
@fresheneesz Please send a PR to [the main repo](https://github.com/nodejs/node/pulls). Thanks :)

[2016-10-31 23:44] fresheneesz commented on #112
Nevermind, I was reading the docs wrong

[2016-10-31 23:44] #112 closed

[2016-11-12 03:03] RichardLitt commented on #63
Why would you close it? What about new people who want to join?

I would like to join the working group.

[2016-11-12 03:05] RichardLitt commented on #96
When is the next working group meeting? Is this that?

[2016-11-13 13:03] eljefedelrodeodeljefe commented on #96
I think it's save to say that this working group has stalled. Unless anyone revives it, there likely won't be a meeting. cc @jasnell what is the general process with stalled WGs?

[2016-11-13 13:03] #96 closed

[2016-11-13 15:10] davidgatti opened #113 ".read() stream not fully explained"
Hello,

The following sentence can be found in the documentation:

It is related to the [readable.read([size])](https://nodejs.org/api/stream.html#stream_readable_read_size) section. Sadly there is no explanation of why that is. I would love to learn why I should not use `readable` 🙂.

[2016-11-13 18:07] eljefedelrodeodeljefe commented on #63
Closing this as I believe everyone has made it into the list. @RichardLitt we would have a another issue for you (and others) after resolution of this https://github.com/nodejs/CTC/issues/32.

[2016-11-13 18:07] #63 closed

[2016-12-01 20:05] itspun opened #114 "Rough Meeting Notes (2016-12-01 @ NINA)"
Documentation Work group:

Problems:
- 3 guides in different places, nodejs/node, nodejs/docs, nodejs website
- they aren't kept in sync
- no one knows what should be where
- there is a mixture of "guides" for contributors and for users/website presentation
- terminology is confusing (guides, topics, guides for code vs guides for using code)

Proposal:

- nodejs/docs should
  1. have documentation

[2016-12-01 20:07] eljefedelrodeodeljefe commented on #114
Sorry, what is this?

[2016-12-01 20:08] evanlucas commented on #114
These are meeting notes from Node Interactive in Austin. We are trying to get the docs working group back up and improve the docs.

[2016-12-01 20:15] bengl commented on #114
Extra context: current WG members in attendance here in Austin:

* @sam-github
* @evanlucas
* @bengl

[2016-12-01 20:18] sam-github commented on #114
/to @mikeal

[2016-12-01 20:43] RichardLitt commented on #114
I would have loved to have been a part of this. Any chance of having an online call?

[2016-12-01 21:10] gibfahn commented on #114
Non WG people in the meeting: @drzal @mgalexander @greenpioneer @lewisjellis @itspun

[2016-12-01 23:34] Qard commented on #114
Sorry I missed this. I was in the VM meetings. I'd like to be involved too though.

I'm in agreement with everything stated in the proposal. However, was there any discussion with CTC on the guides location? They ended up in nodejs/node previously because of concerns with them getting out-of-sync with API docs.

[2016-12-02 12:08] evanlucas commented on #114
@Qard not officially, no. I think that we are still in the stage where we are trying to come up with the plan to take to the CTC to get the working group moving forward.

[2016-12-05 19:11] calebboyd opened #115 "What errors can be thrown?"
Following up on a request from @evanlucas when he prompted "what could be better about the nodejs documentation"

I suggested - knowing what errors can be thrown.  This error documentation would be around any core API or object.

I'm not sure where to begin or how it should even be presented, but will leave this issue open for discussion.

[2016-12-07 00:50] Qard opened #116 "Async meetings"
I feel the docs working group needs some regular discussion around our goals and progress to keep things moving. However, a video call is probably more than is needed. I'm proposing we try async meeting issues on a regular basis where we have a limited time to check in and vote on anything that needs to be voted on. Exact length and frequency would need to be decided, but something like a 24 hour

[2016-12-07 18:43] sam-github commented on #116
I'm OK with trying anything, and we can iterate on the fly, so +1 for me.

I thought the meetings were for discussion though, not voting. Node uses a consensus forming strategy, not a dictatorship of the majority, so I would hope voting would be rare.

Then again, discussion can happen in github.

How would an "async meeting issue" work?

[2016-12-07 18:58] Qard commented on #116
Mostly I don't see voting happening. Just thinking for the occasional thing, like the decision we made to do guides/topics stuff back when we started this.

I mainly imagine the async meeting issue being used to coordinate larger tasks, like centralizing the guides/topics location, and to determine what areas to focus on going forward. There's lots of topics and guides that could be written, so we

[2016-12-07 19:00] Qard commented on #116
Also, it could be a good place to just drop suggestions for docs that'd be useful but perhaps the person who thinks of it doesn't have the time or expertise to write it themselves.

[2016-12-13 21:39] sam-github opened #117 "How-to use LetsEncrypt Guide"
See https://github.com/nodejs/node/issues/9244#issuecomment-255782266

[2017-01-05 14:17] davidgatti commented on #113
Anyone?

[2017-01-06 22:29] Qard commented on #117
@eljefedelrodeodeljefe Can your provide some context for the thumbs down? Personally, I think this is a good idea.

[2017-01-06 22:32] Qard commented on #116
Not much reaction other than a couple thumbs up. I'll try posting a first meeting issue on Monday and we can try it out. If you have any topics you want to discuss, feel free to post suggestions in advance here.

[2017-01-06 22:42] eljefedelrodeodeljefe commented on #117
@Qard Sure. As much as I like the idea, I know how flawed the whole things is. https://github.com/nodejs/node/issues/9244#issuecomment-255587964 sums it up pretty well. The whole cert business is unnecessarily complicated, but Node won't help much on that, nor will Let's encrypt and certbot. Let's encrypt has also really bad UX, imo. It is worth a blog post though.

However, in my (more than opini

[2017-01-06 22:44] eljefedelrodeodeljefe commented on #117
I'd vote this for a close, since thumbs downs on the issues outweigh thumbs up. We should rather find a better format for stuff like that, far outside of core.

[2017-01-06 22:46] Qard commented on #117
I'd certainly disagree with putting Let's Encrypt functionality itself into node core, but I feel like a guide related to it shouldn't be a major issue. Though I'd certainly frame it something like "this is a simplistic way to get up-and-running quickly, more advanced uses will probably need to learn the manual process"

[2017-01-06 22:49] eljefedelrodeodeljefe commented on #117
Btw, do we have a decent place for guides now? Something more prominent than https://nodejs.org/en/docs/guides/? I should look up my GH notifs, as I was PRing putting it onto the api-nav :S sorry.

[2017-01-06 22:51] Qard commented on #117
I believe that needed to be discussed by the CTC. Not sure if that has happened yet or not.

[2017-01-06 22:52] eljefedelrodeodeljefe commented on #117
I mean we could convert it to a rather "how to generate certs with X to be secure"-guide. There are only 3 options or so for unobtrusive processes.

[2017-01-09 18:40] mikeal commented on #117
Should we just point to https://www.npmjs.com/package/letsencrypt in the docs? This package provides more than we would want to outline in the docs themselves (plugins for popular frameworks, for instance).

[2017-01-09 19:09] eljefedelrodeodeljefe commented on #117
Would be in favor for that. The package seems to be good quality now.

[2017-01-09 19:13] Qard commented on #117
Maybe rather than approaching as a doc specifically for Let's Encrypt we could write a doc on the more manual process and just preface that with a note that the Let's Encrypt module is easier, if your needs or not complicated.

[2017-01-09 19:27] sam-github commented on #113
Pipe because it supports back-pressure.

[2017-01-09 19:43] mikeal commented on #117
I think that a "more manual process" for Let's Encrypt might lead people to use their python toolchain instead, which might be a barrier for some Node.js users.

[2017-01-09 20:03] Qard commented on #117
I mean the process of setting up TLS that doesn't involve Let's Encrypt at all. It's doable, but a lot more involved, making it actually warrant its own doc.

[2017-01-09 20:07] evanlucas commented on #116
It would be cool if we could come up with a solid plan for where we want the guides to live. If we could get that together before Wednesday, I'd be happy to bring it up during the CTC meeting.

[2017-01-09 20:48] Qard opened #119 "Meeting #1"
Let's get this async meeting thing started. There's two topics I want to cover:

- Where should we put the guides
- What guides do people want (not necessarily what they personally are volunteering to write, just want to document our current doc deficiencies for now)

Anyone have any input on these topics, or more topics they want to discuss? I'll leave the issue open for discussion for 72 hours t

[2017-01-09 21:09] Qard commented on #119
My vote is for guides to be part of the website as they are more abstract than the reference docs and therefore probably don't need as much effort to stay in-sync with the codebase. It'd probably also make translation easier being part of the website. Might be good to get some input from @nodejs/localization though.

As for what guides I'd like to see, some intros to popular routing frameworks and

[2017-01-09 21:17] sam-github commented on #119
Agree, and would like to see these guide-like materials moved from nodejs/node/doc/guides to the Website repo:
- https://github.com/nodejs/node/blob/master/doc/guides/timers-in-node.md
- https://github.com/nodejs/node/blob/master/doc/topics/blocking-vs-non-blocking.md
- https://github.com/nodejs/node/blob/master/doc/topics/event-loop-timers-and-nexttick.md

I also think https://github.com/nodejs/n

[2017-01-09 21:35] evanlucas commented on #119
I think we should get all guides that are intended for end users of node to the website as well. I think they should be moved to https://nodejs.org/en/docs/guides/ in particular.

I agree with @sam-github that we should wait on the onboarding/collaborator docs and just do the enduser guides as a first step.

[2017-01-09 22:19] eljefedelrodeodeljefe commented on #119
Strongly against putting it on the site as no-one reads it there. At least the link should be prominent in the API docs. Especially the design inconsistency between the sites makes it really unconnected, for visitors.

A good example for structure of docs is Kubernetes http://kubernetes.io/docs/, which makes a mindful combination guides, tutorials, docs, and API docs.

[2017-01-09 22:22] Qard commented on #119
:+1: for a clearer distinction between user-focused guides and collaborator-focused guides.

[2017-01-09 22:25] laosb commented on #119
Having a separated guide site like many projects do would be great.

[2017-01-09 22:25] Qard commented on #119
Sorry if it was unclear, but I'm not arguing for putting guides somewhere other than reference docs in terms of website navigation, only code location.

[2017-01-09 22:28] evanlucas commented on #119
@eljefedelrodeodeljefe do you have any data to back that up? It is directly accessible on the page labeled "DOCS" from the website.

[2017-01-09 22:29] laosb commented on #119
I mean, a separated repo and site.

[2017-01-09 22:29] eljefedelrodeodeljefe commented on #119
@evanlucas Of course not. What a question.

[2017-01-09 22:31] eljefedelrodeodeljefe commented on #119
It#s about making good user experience decisions. Simply counting the clicks you need to do to get there, and there prominence on the site is revealing enough.

[2017-01-09 22:33] eljefedelrodeodeljefe commented on #119
@evanlucas Also SEO: goovling for Node docs, brings up API docs first. Please be constructive

[2017-01-09 22:44] evanlucas commented on #119
Googling for `node docs` brings up https://nodejs.org/en/docs/

![screen shot 2017-01-09 at 4 33 52 pm](https://cloud.githubusercontent.com/assets/677994/21786564/0e49dc3c-d68a-11e6-8ebc-70581cf2438d.png)

If one were to follow the link in the first search result, they are brought to the main docs page that has api documentation for the two latest versions (LTS and Current). Directly below the API

[2017-01-10 00:25] Qard commented on #119
@laosb Are you implying just a different subdomain like docs.nodejs.org, or a fully separate site like rust has with rustbyexample.com? I would prefer a closer relationship with the official website, but I think a separately managed docs.nodejs.org website might be fine. I worry a bit about the extra burden of taking on the website management aspect of that though, which would essentially be dupli

[2017-01-10 05:10] sam-github commented on #119
I think this is getting side-tracked. First thing is to get the "guides" that are invisible to our users because they exist only in markdown in the nodejs/node repo onto the website where the other guides are.

I've no objections to rearranging the website, once it has content, if someone thinks they have some constructive suggestions for rearranging it, speak up.

Its not clear to me that the doc

[2017-01-10 11:19] gibfahn commented on #119
+1 to starting by moving the User Guides in [nodejs/node doc/guides](https://github.com/nodejs/node/tree/master/doc/guides) to [nodejs/nodejs.org locale/en/docs/guides](https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/guides), as there are already guides there, the ones in nodejs/node are just in the wrong place. I think @nodejs/website are the team who manage the website.

---

Als

[2017-01-10 13:55] davidgatti commented on #113
🤔 Hmm that answer assumes to much of me. If you had a longer moment could you write a little more to give a more clear explanation. I would be truly grateful.

[2017-01-10 17:41] thefourtheye commented on #119
Would we be interested to discuss https://github.com/nodejs/node/issues/10726?

[2017-01-10 17:44] bnb commented on #119
Just wanted to note that search results are not always consistent for everyone. There are several factors that determine what show up to each individual. Best way to determine the **default** is to go into Incognito/equivalent mode and they _usually_ turn up the same.

![image](https://cloud.githubusercontent.com/assets/502396/21817561/7c0e82ce-d732-11e6-8e11-7b8d3f6901c6.png)

[2017-01-10 18:43] Qard commented on #119
@thefourtheye :+1: to that idea.

[2017-01-10 18:55] sam-github commented on #113
https://howtonode.org/streams-explained

I'm leaving this open, because it potentially indicates missing info in the docs, but this is not a place to ask for help understanding node, please use https://github.com/nodejs/help.

[2017-01-10 19:19] davidgatti commented on #113
I think I know one or two things about stream ;) https://github.com/davidgatti/How-to-Understand-Streams-in-NodeJS. Anyway confusing documentation, no explanation given - o well, lets move on ;)

[2017-01-10 19:36] sam-github commented on #113
@davidgatti I don't understand why you are asking questions about backpressure when you describe it here: https://github.com/davidgatti/How-to-Understand-Streams-in-NodeJS#the-best-use-case-of-a-stream-in-nodejs

Was it just to point out the docs don't describe it well?

Docs needs knowledgable contributors, please consider contributing your document as an initial "guide" to streams, or otherwise

[2017-01-10 19:38] sam-github commented on #113
Actually, I will close this as a duplicate of https://github.com/nodejs/docs/issues/25

[2017-01-10 19:38] #113 closed

[2017-01-10 22:23] laosb commented on #119
Having a separated `guide.*.tld` is what big projects usually do. Putting them inside website will lead to confusions. Many would search for `guide` and they may won't find the Guide hiding in DOCS section, because in many projects they're separated, eg Meteor, RoR, Vue, etc. Obeying a common pattern would decrease the time to understand the website.

[2017-01-11 15:32] gibfahn commented on #113
+1 to having more knowledgeable non-core people helping out with docs, @davidgatti if you'd be interested in contributing to a User guide on streams (as discussed in #25) that'd be great.

[2017-01-11 15:35] davidgatti commented on #113
Sure, but

- I need to refresh my memory why I created this issue, it was a while back
- I'll still need to understand the developer thinking to then take what info and convert it in to something anyone will be able to understand.

I'll be back 🕶

[2017-01-13 17:41] Qard commented on #119
Closing now.

We should present our suggested guides markdown location to the CTC. It looks like the consensus currently is to put those in http://github.com/nodejs/nodejs.org. The accessibility issue will need further discussion.

Is that a fair assessment? If anyone disagrees with that conclusion, speak up. Otherwise, I think we can present our decision to the CTC.

[2017-01-13 17:41] #119 closed

[2017-01-13 17:47] eljefedelrodeodeljefe commented on #119
Hmm. I think this doesn't catch the topic completely.
1. Location (as in repository): consensus, not having them in core, and can be nodejs/nodejs.org
2. Location (as in accessibility): no consensus, as every statement above, suggests something slightly different, but I think there is a majority for not putting it in `nodejs.org/docs/guides` or similar. At least I would strongly oppose this.

[2017-01-13 17:48] Qard commented on #116
Our first meeting seems to have worked well. After seeing how the conversation went, I'm thinking we should try a meeting issue every 2 weeks and keep it open for 48 hours.

Drop some 👍 or 👎 on this and if the group seems to agree, I'll get another issue up on Monday the 23rd.

[2017-01-13 17:51] Qard commented on #119
Yep, my thought was just to propose to the CTC that we move the code and we can deal with the accessibility concerns later. As I expressed, it seems like that needs deeper discussion.

[2017-01-13 17:51] eljefedelrodeodeljefe commented on #119
Okay in that case. Thx.

[2017-01-13 18:00] Qard commented on #119
@evanlucas Would you mind presenting this to the CTC? Also, do you have powers to add `ctc-agenda` label to this? The label seems to not exist yet in this repo and I don't appear to have the power to create it.

[2017-01-13 18:12] sam-github commented on #119
@nodejs/tsc Can someone with the power arrange that all doc WG members (https://github.com/nodejs/docs/blob/master/README.md#current-documentation-wg-members) have ability to configure labels and do other routine maintenance of the nodejs/docs repo? @Qard doesn't seem to have that power, ATM.

[2017-01-13 18:54] Trott commented on #119
Of the four guides that are currently in the `nodejs/node` repository under `doc/guides`, three of them are specific to contributing to core. I personally think it makes sense to have those with the source code and may *not* make a whole lot of sense having them on the nodejs website.

[2017-01-13 18:56] Qard commented on #119
Yep, that's our feeling too. Contributor-specific stuff can stay in nodejs/node.

[2017-01-13 18:57] Trott commented on #119
Need to be added to the @nodejs/documentation group to have those privileges in this repo. I'll add @Qard right now, but if someone else wants to compare the membership of that team with the membership of the WG and provide a single comment (or separate issue) listing members to be added/removed, that would probably be good.

EDIT: Whoops, @Qard is already a member. Either someone beat me to it or

[2017-01-13 19:01] Trott commented on #119
I created a `ctc-agenda` label, but note that the tooling that creates the agenda for meetings won't pick it up if the issue it is applied to is closed. So be sure to create a new issue or re-open this one.

[2017-01-13 19:02] evanlucas commented on #119
I'll open an tracking issue at nodejs/node so we can get it in for the next meeting

[2017-01-13 19:03] Qard commented on #119
Great, thanks all!

[2017-01-13 19:09] sam-github commented on #119
@Trott I agree with you, see https://github.com/nodejs/docs/issues/119#issuecomment-271410403. There are doc/guides and doc/topics, and I think there *is* consensus that info about maintaining the node repo itself shouldn't be on the website, and shouldn't have been called "guides" in the first place.

[2017-01-26 06:30] Trott opened #120 "Add @vsemozhetbyt?"
I know this is already a pretty big group, but maybe consider extending an invitation to @vsemozhetbyt to at least be in the GitHub team so they get notified when someone @-mentions nodejs/docs? They've been doing a ton of work on docs lately.

[2017-01-30 23:38] Qard opened #121 "Meeting #2"
I meant to post this last week...I blame FFXV. 😨

Agenda:
- Guides navigation location and accessibility
- Updating the md files in nodejs/docs

If you have any other things to discuss, just say so. 😸

[2017-01-30 23:44] Qard commented on #121
For the guides location, should we consider a fully separate part of the website, or even an entirely different subdomain? I quite like the book structure of the [Rust](https://www.rust-lang.org/en-US/documentation.html) docs.

As for the md files, those are looking rather out-of-date. Anyone else care to review them and comment on what they'd like added or changed? Some additions to CONTRIBUTING.

[2017-02-01 01:50] stevemao opened #122 "descriptions of "The module Object"'s property are not clear"
[At the end of the modules page](https://nodejs.org/dist/latest-v7.x/docs/api/modules.html#modules_module_id), the descriptions are too terse and not so clear in my opinion.

EG:

The identifier for the module. Typically this is the fully resolved filename.

When is it not the fully resolved filename?

Whether or not the module is done loading, or is in the process of loading.

When it is in the p

[2017-02-02 00:16] Trott commented on #120
@vsemozhetbyt If you'd like to be added to the docs team, leave a note here or send me an email. I don't want to add you if you're not interested. :-D (And, of course, it's totally OK if you're not interested!)

[2017-02-02 00:35] vsemozhetbyt commented on #120
@Trott Thank you for the invitation. I would like to be added if it could help me help the team with the docs) However, please consider this issues:

1. I am not a native speaker and my English is very poor, artificial and full of errors (so I've limited myself to the code examples in the docs in my PRs).
2. I have not much experience in the frontend, so all the nodejs.org stuff (md to html render

[2017-02-02 00:43] Trott commented on #120
@vsemozhetbyt Even if all you do is review code samples, that will be a big help. I'll add you and if it proves to be frustrating for you, you can always remove yourself.

(By the way, I don't think you make very many errors in your written English. Certainly, not many more than a native speaker. In fact, fewer than many native speakers! :-D )

[2017-02-02 00:43] #120 closed

[2017-02-02 00:49] vsemozhetbyt commented on #120
Thank you) This is due to tireless efforts of the [Grammarly](https://chrome.google.com/webstore/detail/grammarly-for-chrome/kbfnbcaeplbcioakkpcpgfkobkghlhen) (and occasionally Word) grammar checker‎)

[2017-02-03 09:01] kahwee commented on #121
I agree guides should be a separate part. I was browsing the new [Webpack](https://webpack.js.org/guides/) website and they have a whole bunch of guides that just grew organically over time.

There's docs which is highly ordered which content structure can be determined ahead of time. And then there's guides which is we may not know how to structure the articles to make it easy to find. We probabl

[2017-02-13 11:55] agauniyal opened #124 "clarity on asynchronous methods throwing exceptions"
Under the Node.js v7.5.0 Documentation [Errors](https://nodejs.org/api/errors.html) page, it is mentioned -

To be honest, I wasn't aware of the following and assumed errors were passed as described just above it via `err` parameter to the callback function. Would you mind adding such function or its use case via try/catch block since it might create some confusion over its usage.

Reference - **[

[2017-02-13 15:19] bnoordhuis commented on #124
The rule of thumb is this: validation errors (bad inputs) throw exceptions, runtime errors are events.

Say you pass `null` to a function that expects a string, that's a validation error.  Trying to look up the IP address of a non-existing domain name?  A runtime error.

In general, when an otherwise asynchronous function throws an exception, it means you need to fix your application because it ca

[2017-02-13 20:40] sam-github commented on #124
For example, if you call a function, and pass an object as the callback... how could we call the object to pass a TypeError to the callback?

[2017-02-28 21:22] catdad opened #125 "http.ClientRequest is missing some methods"
In the class definition of http.ClientRequest, it says the following:

This suggests that instances of the class have those 2 methods. However, there is no documentation for these 3 methods in the list of methods for this class.

Reference: https://nodejs.org/dist/latest-v7.x/docs/api/http.html#http_class_http_clientrequest

[2017-02-28 22:07] sam-github commented on #125
Confirmed, ClientRequest inherits from OugoingMessage, and it and its methods are not documented .

[2017-02-28 22:07] sam-github commented on #125
cc: @nodejs/http

[2017-03-28 01:46] martinheidegger opened #126 "Package documentation (how to intl)"
Hello Docs team 👋

In the last [hangout of the intl wg](https://github.com/nodejs/Intl/issues/40) we talked about "how to store & implement translations of error messages" and I felt like this issue is the perfect to prepare a guide on _"how to write a package with i18n support"_ with Node.js being the first adopter of the best-practices. Now we have been wondering where to put those suggestions.

[2017-04-25 10:53] danielkhan commented on #7
I failed to do that.

[2017-04-25 10:53] #7 closed

[2017-05-09 10:03] kharandziuk commented on #25
I wrote a small article about real use case of using streams in Node.js  https://hackernoon.com/node-js-streams-in-action-1495c22fafec
Maybe somebody find it useful

[2017-05-10 15:00] jasnell opened #127 "Decharter this Working Group?"
The Documentation Working Group has been inactive for quite some time. I have opened a proposal in the CTC repository to decharter the group. The nodejs/documentation team would still exist, but this repository would be archived and the responsibilities assigned to the Documentation Working Group would be folded back into the CTC's area of responsibility.

Refs: https://github.com/nodejs/CTC/pull/

[2017-05-10 16:31] eljefedelrodeodeljefe commented on #127
Yes, please. I was writing what was needed (mandating and so on), apart from actual user activity. Both have not happened, despite resurrection tries. It's time...

Maybe someone will come around with a good idea, or stars in the core repo align desperate need of fundamentally better docs at some point.

Docs are generally working well at the moment even without the explicit WG.

[2017-05-10 16:32] mikeal commented on #127
It's worth noting that a ton of documentation *is* being written and iterated on, this WG just isn't directly involved :)

[2017-05-10 16:34] eljefedelrodeodeljefe commented on #127
No doubt, looking at the commit log. Noted also above.

[2017-05-20 13:34] Trott commented on #127
/cc @nodejs/documentation

[2017-05-20 13:49] benjamingr commented on #127
LGTM, unless a CTC member wants to step up and lead the group it's pointless to keep alive and lots of good six work happening anyway

[2017-05-20 15:32] Qard commented on #127
I'm good with dechartering. We're only really working on writing and review docs at this point, which is more a team activity than a working group activity. We can always recharter again in the future, if a need arises.

[2017-05-20 16:16] Knighton910 commented on #127
@Qard +1

[2017-06-15 11:37] buckle2000 opened #128 "Better wording for modules_all_together"
In here:
https://nodejs.org/api/modules.html#modules_all_together

IMHO,
please change
[code]
into
[code]
which is less nested thus easier to understand.

[2017-06-19 01:12] stevemao commented on #128
@buckle2000 Could you give more details? Why is it more conventional? What do you mean by that?

[2017-06-20 12:49] buckle2000 commented on #128
In current description of [this](https://nodejs.org/api/modules.html#modules_all_together), `LOAD_INDEX` is nested in `LOAD_AS_DIRECTORY`, which is unnecessary and seems confusing (at least to me).

[2017-08-04 09:21] luki opened #129 "Suggestion: Return type in function declaration & possible option to view types by clicking"
While working with Node.js, I found having the return types of a function (If given) in the function declaration instead of somewhere in the paragraph below it (As seen in the example following) might improve the documentation.

![Example screenshot](http://i.imgur.com/FDwu1md.png)

Further on, it would most likely be useful to be able to click on the types. Both suggestions are popular documentat

[2017-08-04 09:33] vsemozhetbyt commented on #129
сс @nodejs/documentation

[2017-08-05 09:58] gibfahn commented on #129
This is a duplicate of https://github.com/nodejs/node/issues/14624 right? If so I'll close, as it looks like that issue has more discussion.

LMK if this should be reopened!

[2017-08-05 09:58] #129 closed

[2017-08-22 07:52] giorgim commented on #124
That is a bad practice if function throws and also can return error asynchronously.
Here is quote from Joyent (which I agree with):

The general rule is that a function may deliver operational errors synchronously (e.g., by throwing) or asynchronously (by passing them to a callback or emitting error on an EventEmitter), but it should not do both. This way, a user can handle errors by either handli

[2017-09-10 03:38] #115 closed

[2017-09-28 07:20] #75 closed

[2017-09-28 07:20] #73 closed

[2017-09-28 07:20] #60 closed

[2017-09-28 07:20] #58 closed

[2017-09-28 07:21] #83 closed

[2017-09-28 07:21] #95 closed

[2017-09-29 19:52] GailBowen commented on #55
I'm new to node and was working on a beginner's exercise that told me to use readline from here.[https://nodejs.org/api/readline.html](url)

I didn't notice that it was a back tick, but I was put right by Sridhar in this post [https://stackoverflow.com/questions/7790811/how-do-i-put-variables-inside-javascript-strings-node-js/32695337#32695337](url)

It would be really handy for beginners if you m

[2017-10-04 19:22] cezaraugusto commented on #2
hey @chrisdickinson, is this still the go-to place for docs volunteering? came from https://github.com/nodejs/getting-started/blob/master/contribute_to_node.md which lead me to https://github.com/nodejs/docs/blob/master/CONTRIBUTING.md which lead me to here.

[2017-10-05 23:59] gibfahn commented on #127
Given that https://github.com/nodejs/CTC/pull/121 landed, this repo should probably be archived now.

Is that just a case of changing the name to `docs-archive` and changing the README?

[2017-10-14 09:42] prahaladbelavadi commented on #2
Count me in! @prahaladbelavadi

[2017-11-10 08:20] ajihyf commented on #34
In the current documentation, it says `if you move the two calls within an I/O cycle, the immediate callback is always executed first` and gives a code snippet:
[code]
I think it's the same if we put the two timers into another `setTimeout` callback(`immediate` in the check phase of the first event loop and `timeout` in the timer phase of the second event loop). But the code below doesn't work as

[2017-12-05 13:07] #124 closed

[2017-12-20 15:23] Trott commented on #41
I'm going to close this as it's been dormant for over two years. Not a judgment or anything, just doing some tidying up. If anyone wants to pursue this, re-open this issue (if GitHub lets you) or leave a comment here. Or even better, open an issue in the main nodejs/node repository where it will get visibility. The docs are all there anyway and the Documentation WG isn't active and was de-chartere

[2017-12-20 15:23] #41 closed

[2018-01-25 08:03] surajwy opened #131 "Improve the words usage in socket.setTimeout() definition"
Refer following lines from net.js `socket.setTimeout` function:
1. Sets the socket to timeout after timeout milliseconds of **inactivity** on the socket.
2. When an **idle** timeout is triggered the socket will receive a 'timeout' event but the connection will not be severed.
3. If timeout is 0, then the existing **idle** timeout is disabled.

We should be more clear and explicit about what **inac

[2018-03-13 21:32] Trott commented on #131
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:32] #131 closed

[2018-03-13 21:33] Trott commented on #128
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:33] #128 closed

[2018-03-13 21:33] #127 closed

[2018-03-13 21:34] Trott commented on #126
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:34] #126 closed

[2018-03-13 21:34] Trott commented on #125
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:34] #125 closed

[2018-03-13 21:34] Trott commented on #122
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:34] #122 closed

[2018-03-13 21:34] #121 closed

[2018-03-13 21:35] Trott commented on #117
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:35] #117 closed

[2018-03-13 21:35] #116 closed

[2018-03-13 21:35] #114 closed

[2018-03-13 21:35] Trott commented on #111
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:35] #111 closed

[2018-03-13 21:35] Trott commented on #110
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:35] #110 closed

[2018-03-13 21:35] Trott commented on #109
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:35] #109 closed

[2018-03-13 21:36] Trott commented on #107
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:36] #107 closed

[2018-03-13 21:36] Trott commented on #105
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:36] #105 closed

[2018-03-13 21:36] Trott commented on #104
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:37] Trott commented on #103
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:37] #103 closed

[2018-03-13 21:37] Trott commented on #102
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:37] #102 closed

[2018-03-13 21:37] Trott commented on #101
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:37] #101 closed

[2018-03-13 21:37] Trott commented on #100
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:37] #100 closed

[2018-03-13 21:37] Trott commented on #98
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:37] #98 closed

[2018-03-13 21:37] Trott commented on #97
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:37] #97 closed

[2018-03-13 21:37] Trott commented on #93
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:37] #93 closed

[2018-03-13 21:38] Trott commented on #90
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:38] #90 closed

[2018-03-13 21:38] Trott commented on #89
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:38] #89 closed

[2018-03-13 21:38] Trott commented on #88
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:38] #88 closed

[2018-03-13 21:38] Trott commented on #87
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:38] #87 closed

[2018-03-13 21:38] Trott commented on #86
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:38] #86 closed

[2018-03-13 21:38] Trott commented on #85
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:38] #85 closed

[2018-03-13 21:39] Trott commented on #82
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:39] #82 closed

[2018-03-13 21:39] Trott commented on #80
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:39] #80 closed

[2018-03-13 21:39] Trott commented on #78
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:39] #78 closed

[2018-03-13 21:39] Trott commented on #74
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:39] #74 closed

[2018-03-13 21:40] Trott commented on #71
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:40] #71 closed

[2018-03-13 21:40] Trott commented on #69
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:40] #69 closed

[2018-03-13 21:40] Trott commented on #65
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:40] #65 closed

[2018-03-13 21:40] Trott commented on #62
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:40] #62 closed

[2018-03-13 21:40] Trott commented on #61
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:40] #61 closed

[2018-03-13 21:40] Trott commented on #51
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:40] #51 closed

[2018-03-13 21:40] Trott commented on #48
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:40] #48 closed

[2018-03-13 21:41] Trott commented on #44
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #44 closed

[2018-03-13 21:41] Trott commented on #40
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #40 closed

[2018-03-13 21:41] Trott commented on #34
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #34 closed

[2018-03-13 21:41] Trott commented on #31
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #31 closed

[2018-03-13 21:41] Trott commented on #29
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #29 closed

[2018-03-13 21:41] Trott commented on #25
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #25 closed

[2018-03-13 21:41] Trott commented on #23
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #23 closed

[2018-03-13 21:41] Trott commented on #20
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #20 closed

[2018-03-13 21:41] Trott commented on #11
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:41] #11 closed

[2018-03-13 21:42] Trott commented on #10
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:42] #10 closed

[2018-03-13 21:42] Trott commented on #3
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:42] #3 closed

[2018-03-13 21:42] Trott commented on #1
Closing as this repository is dormant and likely to be archived soon. If this is still an issue, feel free to open it as an issue on the [main node repository](https://github.com/nodejs/node).

[2018-03-13 21:42] #1 closed